<div id="dialog_table">
    <div *ngIf="flag == 'duplicate'">
        <h2 mat-dialog-title>{{'DASHBOARDS.DUPLICATE_CONFIRM_MESSAGE' | translate}}</h2>

        <mat-dialog-actions>
            <div class="confirm_buttons">
                <button class="mat-raised-button accent-500" (click)="save()">
                    {{'DASHBOARDS.DUPLICATE' | translate}}
                </button>

                <button class="mat-raised-button" (click)="close()">
                    {{'DASHBOARDS.NO' | translate}}
                </button>
            </div>

        </mat-dialog-actions>
    </div>


    <div *ngIf="flag == 'delete'">
        <h2 mat-dialog-title>{{'DASHBOARDS.DELETE_CONFIRM_MESSAGE' | translate}}</h2>

        <mat-dialog-actions>
            <div class="confirm_buttons">
                <button class="mat-raised-button accent-500" (click)="save()">
                    {{'DASHBOARDS.DELETE' | translate}}
                </button>

                <button class="mat-raised-button" (click)="close()">
                    {{'DASHBOARDS.NO' | translate}}
                </button>
            </div>

        </mat-dialog-actions>
    </div>

    <div *ngIf="flag == 'goback'">
        <h2 mat-dialog-title>{{'DASHBOARDS.GOBACK_CONFIRM_MESSAGE' | translate}}</h2>

        <mat-dialog-actions>
            <div class="confirm_buttons">
                <button class="mat-raised-button accent-500" (click)="goback()" fxFlex="30">
                    {{'DASHBOARDS.YES' | translate}}
                </button>

                <button class="mat-raised-button" (click)="close()" fxFlex="30">
                    {{'DASHBOARDS.NO' | translate}}
                </button>
            </div>

        </mat-dialog-actions>
    </div>
</div>