<div fxLayout="column" fxFlex fusePerfectScrollbar class="unitInfo-panel">
    <div class="unitInfo-panel-header mat-elevation-z12 primary py-16 px-8 mb-12" fxLayout="row"
        fxLayoutAlign="space-between center">
        <div class="panel-title h2 ml-8">
            <span *ngIf="!currentUnit">Unit Info</span>
            <span *ngIf="currentUnit" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mr-12">directions_car</mat-icon>{{currentUnit.name}}
            </span>
        </div>
    </div>
    <mat-accordion *ngIf="currentUnit">
        <!-- Unit panel -->
        <mat-expansion-panel class="unit-panel">
            <mat-expansion-panel-header class="mat-elevation-z8 mb-4 primary-50-bg">
                <mat-panel-title>
                    <div class="h3" fxLayout="row" fxLayoutAlign="start center">
                        &#8895;&nbsp;&nbsp;&nbsp;Unit
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="unit-panel-body">
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Name : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.name}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Plate : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.name}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Company : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.company}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">SubGroup : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.name}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Group : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.group}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Latitude : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.latitude}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Longitude : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.longitude}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Status : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.status}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Last Report : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.lastreport}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Location : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.location}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Passengers : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.name}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Speed : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.speed}}</div>
                </div>
                <div class="unit-info-listItem" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40" fxLayoutAlign="start center">Device : </div>
                    <div fxFlex="60" fxLayoutAlign="start center">{{currentUnit.device}}</div>
                </div>
            </div>
        </mat-expansion-panel>
        <!-- Driver panel -->
        <mat-expansion-panel>
            <mat-expansion-panel-header class="mat-elevation-z8 mb-4 primary-50-bg">
                <mat-panel-title>
                    <div class="h3" fxLayout="row" fxLayoutAlign="start center">
                        &#8895;&nbsp;&nbsp;&nbsp;Driver
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <!-- Events Panel -->
        <mat-expansion-panel>
            <mat-expansion-panel-header class="mat-elevation-z8 mb-4 primary-50-bg">
                <mat-panel-title>
                    <div class="h3" fxLayout="row" fxLayoutAlign="start center">
                        &#8895;&nbsp;&nbsp;&nbsp;Events
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <!-- Sensors panel -->
        <mat-expansion-panel>
            <mat-expansion-panel-header class="mat-elevation-z8 mb-4 primary-50-bg">
                <mat-panel-title>
                    <div class="h3" fxLayout="row" fxLayoutAlign="start center">
                        &#8895;&nbsp;&nbsp;&nbsp;Sensors
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <!-- Passengers panel -->
        <mat-expansion-panel>
            <mat-expansion-panel-header class="mat-elevation-z8 mb-4 primary-50-bg">
                <mat-panel-title>
                    <div class="h3" fxLayout="row" fxLayoutAlign="start center">
                        &#8895;&nbsp;&nbsp;&nbsp;Passengers
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
</div>