@import "src/@fuse/scss/fuse";

    .table_paginator_detail {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 40px !important;
        color: rgb(16, 20, 24) !important;
    }
   
    .mat-form-field-label {
            color: rgb(134, 132, 132) !important
    }
    .filter_company_input {
        border: 1px solid #b3b1b1 !important;
        border-radius: 5px !important;
        margin: 20px !important;
        width: 90% !important;
        height: 40px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    body.theme-default .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
        background: white !important;
    }
    mat-row:hover {
        background-color: #b2f5ef !important;
    }
  
    body.theme-default .mat-input-element:disabled {
        color: black !important
    }

    .content-card {
        position: relative;
        // width: 200% !important;
        overflow: hidden;
    }
    .devconfigcmd-table {
        flex: 1 1 auto;
        // border: 1px solid rgba(0, 0, 0, .12);
        // overflow: auto;
        // overflow-x: auto !important;
        -webkit-overflow-scrolling: touch;
        
        .mat-header-row {
            height: 40px;
            min-height: 24px;
            font-weight: bold;
            // color: 
            background-color: rgb(225, 245, 254) !important;
        }

        .devconfigcmd {
            position: relative;
            cursor: pointer;
            height: 32px;
        }
        mat-row, mat-footer-row {
            min-height: 32px !important;
        }
        mat-row:hover {
            background-color: #b2f5ef !important;
        }
        mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
            padding-left: 0px !important;
        }
        mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
            padding-right: 0px !important;
        }

        .mat-row:nth-child(even){
            background-color: #e4f0ec;
        }
        .mat-row:nth-child(odd){
            background-color:#ffffff;
        }

        .mat-cell, .mat-footer-cell {
            font-size: 14px !important;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }

    .filter_command_input {
        width: 100% !important;
        height: 40px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
        border-right: 1px solid grey;
        // border-bottom:  1px solid grey;
    }
    .filter_command_input_empty{
        width: 100% !important;
        height: 40px !important;
        // border-bottom:  1px solid grey;
    }

    .mat-column-command {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 48% !important;
        justify-content: center !important;
        width: 48% !important;
        // padding-left: 0px !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        // border-right: 1px solid grey;
        word-break: break-word;
        
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    
    .mat-column-syscommand {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 48% !important;
        justify-content: center !important;
        width: 48% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        // border-right: 1px solid grey;
        word-break: break-word;
        
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-edit {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 4% !important;
        width: 4% !important;
        // padding-right: 0px !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        justify-content: space-around !important;
        word-break: break-word;
        
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .command_table_paginator {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: rgb(30, 33, 41) !important;
        height: 40px !important;
        color: rgb(221, 221, 221) !important;

        .mat-paginator-container {
            justify-content: flex-end;
            height: 40px !important;
        }
    
        .mat-paginator-navigation-previous {
            order: 1;
        }
        .mat-paginator-navigation-next {
            order: 3;
        }
        .mat-paginator-navigation-last {
            order: 4;
        }
        .page_index {
            order: 2;
        }
        .mat-paginator-range-label {
            order: 0;
        }
        .mat-form-field-infix {
            width: 45px;
            display: flex;
            flex-direction: row;
        }
        .mat-input-element {
            caret-color: rgba(47, 170, 241, 0.8);
            color: rgb(47, 170, 241);
        }
        .index_input {
            text-align: center;
            margin-top: .35em !important;
        }
        .mat-select-value, .mat-select-arrow{
            color: rgb(47, 170, 241) !important;
            margin-right: 0px !important;
            // text-align: center;
            justify-content: center !important;
        }
      
        .mat-focused .mat-form-field-underline .mat-form-field-ripple{
            background: none;
        }

        mat-form-field .mat-form-field-wrapper.ng-tns-c221-25{
            padding-bottom: 1.2em !important;
        }
    }
   
    .edit_icon {
        color: green;
        margin-right: 3px;
    }
    .delete_icon {
        color: red;
        margin-right: 3px;
    }

    .spinner_container {
        position: absolute;
        top: 50%;
        left: 60%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .spinner_overlay {
        height:100vh;
        width:100%;
        z-index:    10;
        top:        0; 
        left:       0; 
        position:   fixed;
    }
