<div class="map-content">
    <agm-map class="routeMap" #AgmMap [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
        [zoomControl]="false" (mapReady)="onMapReady($event)">
        <ng-container>
            <agm-polyline *ngIf="tripWatchData.length > 0" [strokeWeight]="3" [strokeColor]="'#0b56e0'"
                [strokeOpacity]="1">
                <agm-marker *ngFor="let m of tripWatchData; let first=first; let last=last; trackBy: trackByFn"
                    [latitude]="m.latitude" [longitude]="m.longitude" [visible]="true"
                    [iconUrl]="first? unit_icon_start : last? unit_icon_end: unit_icon_routes" [agmFitBounds]="true">
                </agm-marker>

                <agm-polyline-point *ngFor="let pnt of tripWatchData" [latitude]="pnt.latitude"
                    [longitude]="pnt.longitude">
                </agm-polyline-point>
            </agm-polyline>
        </ng-container>
        <ng-container>
            <agm-polyline *ngIf="tripWatchData.length > 0" [strokeWeight]="4" [strokeColor]="'#0b56e0'"
                [strokeOpacity]="0.9">
                <agm-polyline-point *ngFor="let pnt of tripWatchData" [latitude]="pnt.latitude"
                    [longitude]="pnt.longitude">
                </agm-polyline-point>
                <agm-icon-sequence [strokeColor]="'black'" [repeat]="'50px'" [offset]="'100%'" [strokeWeight]="3"
                    [scale]="1" [strokeOpacity]="100" [path]="'FORWARD_CLOSED_ARROW'">
                </agm-icon-sequence>
            </agm-polyline>
        </ng-container>

    </agm-map>
</div>