<div id="dialog_table">
<div *ngIf="flag == 'duplicate'">
    <h2 mat-dialog-title>{{'DEVCONFIGS.DUPLICATE_CONFIRM_MESSAGE' | translate}}</h2>

    <mat-dialog-actions>
        <div class="confirm_buttons">
            <button class="mat-raised-button accent-500"  (click)="save()">
                {{'DEVCONFIGS.DUPLICATE' | translate}}
            </button>
        
            <button class="mat-raised-button"
                    (click)="close()">
                    {{'DEVCONFIGS.NO' | translate}}
            </button>
        </div>

    </mat-dialog-actions>
</div>


<div *ngIf="flag == 'delete'">
    <h2 mat-dialog-title>{{'DEVCONFIGS.DELETE_CONFIRM_MESSAGE' | translate}}</h2>

    <mat-dialog-actions>
        <div class="confirm_buttons">
            <button class="mat-raised-button accent-500"  (click)="save()">
                {{'DEVCONFIGS.DELETE' | translate}}
            </button>
        
            <button class="mat-raised-button"
                    (click)="close()">
                    {{'DEVCONFIGS.NO' | translate}}
            </button>
        </div>

    </mat-dialog-actions>
</div>

<div *ngIf="flag == 'goback'">
    <h2 mat-dialog-title>{{'DEVCONFIGS.GOBACK_CONFIRM_MESSAGE' | translate}}</h2>

    <mat-dialog-actions>
        <div class="confirm_buttons">
            <button class="mat-raised-button accent-500"  (click)="goback()" fxFlex="30">
                {{'DEVCONFIGS.YES' | translate}}
            </button>
        
            <button class="mat-raised-button"
                    (click)="close()" fxFlex="30">
                    {{'DEVCONFIGS.NO' | translate}}
            </button>
        </div>

    </mat-dialog-actions>
</div>
</div>

