<div id="vehicle" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/admin/vehicles/vehicles'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{vehicle.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Vehicle
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Vehicle Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- <button mat-raised-button
                    class="save-vehicle-button"
                    [disabled]="vehicleForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addVehicle()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-vehicle-button"
                    [disabled]="vehicleForm.invalid || vehicleForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveVehicle()">
                <span>SAVE</span>
            </button> -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <div class="form-group">
                    <ng-select [items]="loadArray" [searchable]="true" bindLabel="item_text" placeholder="Select city"
                      [(ngModel)]="loadData">
                    </ng-select>
                </div>

               
                
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>

