<div id="vehicle" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <!-- <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/admin/vehicles/vehicles'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{vehicle.unit}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        {{ 'VEHICLES.NEWVEHICLE' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'VEHICLES.VEHICLEDETAIL' | translate }}</span>
                    </div>
                </div>
            </div> -->
            <!-- / APP TITLE -->

            <!-- <button mat-raised-button
                    class="save-vehicle-button"
                    [disabled]="vehicleForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addVehicle()">
                <span>{{ 'VEHICLES.ADD' | translate }}</span>
            </button>

            <button mat-raised-button
                    class="save-vehicle-button"
                    [disabled]="vehicleForm.invalid || vehicleForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveVehicle()">
                <span>{{ 'VEHICLES.SAVE' | translate }}</span>
            </button> -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <!-- <div class="content">

                <form name="vehicleForm" [formGroup]="vehicleForm" class="vehicle w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="{{ 'VEHICLES.FIRSTINFO' | translate }}">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'VEHICLES.NAME' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'VEHICLES.DRIVER' | translate }}"
                                            name="Driver"
                                            formControlName="Driver"
                                            required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'VEHICLES.SUBFLEET' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'VEHICLES.SUBFLEET' | translate }}"
                                            name="SubFleet"
                                            formControlName="SubFleet"
                                            required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>{{ 'VEHICLES.GROUP' | translate }}</mat-label>

                                    <input matInput placeholder="{{ 'VEHICLES.GROUP' | translate }}"
                                            name="Group"
                                            formControlName="Group"
                                            required>

                                </mat-form-field>
                            </div>

                        </mat-tab>

                        <mat-tab label="{{ 'VEHICLES.SECONDINFO' | translate }}">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'VEHICLES.DEVICE' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'VEHICLES.DEVICE' | translate }}"
                                           name="Device"
                                           formControlName="Device"
                                          >
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'VEHICLES.MAKE' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'VEHICLES.MAKE' | translate }}"
                                           name="Make"
                                           formControlName="Make"
                                          >
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'VEHICLES.VIN' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'VEHICLES.VIN' | translate }}"
                                           name="VIN"
                                           formControlName="VIN"
                                           >
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'VEHICLES.PLATE' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'VEHICLES.PLATE' | translate }}"
                                           name="Plate"
                                           formControlName="Plate"
                                          >
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'VEHICLES.LASTREPORT' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'VEHICLES.LASTREPORT' | translate }}"
                                           name="Last_Report"
                                           formControlName="Last_Report"
                                          >
                                </mat-form-field>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'VEHICLES.THIRDINFO' | translate }}">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'VEHICLES.LOCATION' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'VEHICLES.LOCATION' | translate }}"
                                           name="Location"
                                           formControlName="Location">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'VEHICLES.STATUS' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'VEHICLES.STATUS' | translate }}"
                                           name="Status"
                                           formControlName="Status"
                                          >
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'VEHICLES.SERVICEPLAN' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'VEHICLES.SERVICEPLAN' | translate }}"
                                           name="ServicePlan"
                                           formControlName="ServicePlan"
                                          >
                                </mat-form-field>

                            </div>

                        </mat-tab>
                    </mat-tab-group>

                </form>

            </div> -->
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
