<div id="vehicle_detail" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/admin/vehicles/vehicles'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{vehicle.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Vehicle
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Vehicle Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-vehicle-button"
                    *ngIf="pageType ==='new'" (click)="addVehicle()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-vehicle-button"
                    *ngIf="pageType ==='edit'" (click)="saveVehicle()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form [formGroup]="vehicleForm" class="vehicle w-100-p" fxLayout="column" fxFlex >

                    <mat-tab-group>

                        <mat-tab label="General">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Name"
                                           name="name"
                                           formControlName="name"
                                           required>
                                </mat-form-field>
                                            <!-- (change)="onSearchClassSelect($event)" -->
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <!-- <mat-form-field appearance="outline" floatLabel="always" fxFlex="48" class="select_list">
                                        <mat-label>Company</mat-label>
                                        <mat-select  (click)="showCompanyList('company')" [(value)]="company">
                                            <input matInput   #filter placeholder="Filter"  class="filter_company_input" (keyup) = "onKey($event)">

                                            <div  style="width: 100%; overflow: auto;">
                                                <mat-table [dataSource]="dataSourceCompany"  class="vehicles-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let company;"  style="border: 0px;">
                                                            <mat-option  [value]="company.name">{{company.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px;" mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                        
                                            <mat-paginator style=" height: 40px;"
                                                #paginatorCompany
                                                class="table_paginator"
                                                [length]="dataSourceCompany.totalLength"
                                                [pageSize]="10"
                                                [hidePageSize]="true"
                                                showFirstLastButtons
                                                sticky="true"
                                            ></mat-paginator>
                                          
                                        </mat-select>
                                    </mat-form-field> -->

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48" class="select_list">
                                        <mat-label>Company</mat-label>
                                        <mat-select  (click)="showCompanyList('company')" formControlName="company" (change)="changeClient($event.value)">
                                            <input matInput   #filter placeholder="Filter"  class="filter_company_input" (keyup) = "onKey($event)">

                                            <div  style="width: 100%; overflow: auto;">
                                                <mat-table [dataSource]="dataSourceCompany"  class="vehicles-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let company;"  style="border: 0px;">
                                                            <mat-option  [value]="company.id">{{company.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px;" mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                        
                                            <mat-paginator style=" height: 40px;"
                                                #paginatorCompany
                                                class="table_paginator"
                                                [length]="dataSourceCompany.totalLength"
                                                [pageSize]="10"
                                                [hidePageSize]="true"
                                                showFirstLastButtons
                                                sticky="true"
                                            ></mat-paginator>
                                          
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Group</mat-label>
                                        <mat-select formControlName="group"  (click)="showCompanyList('group')">
                                            <input matInput  #filter placeholder="Filter"  class="filter_company_input" (keyup) = "onKey($event)">

                                                <div  style="width: 100%; overflow: auto;">
                                                    <mat-table [dataSource]="dataSourceGroup"  class="vehicles-table font-size-10 mat-elevation-z8" >
                                                        <ng-container matColumnDef="name">
                                                            <td mat-cell *matCellDef="let group"  style="border: 0px;">
                                                                <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="group.name">{{group.name}}</mat-option>
                                                            </td>
                                                        </ng-container>
                                                        <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                    </mat-table>
                                                </div>
                                            
                                                <mat-paginator style=" height: 40px;"
                                                    #paginatorGroup
                                                    class="table_paginator"
                                                    [length]="dataSourceGroup.totalLength"
                                                    [pageSize]="10"
                                                    [hidePageSize]="true"
                                                    showFirstLastButtons
                                                ></mat-paginator>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Account</mat-label>
                                        <mat-select formControlName="account"  (click)="showCompanyList('account')">
                                            <input matInput   #filter placeholder="Filter"  class="filter_company_input" (keyup) = "onKey($event)">

                                            <div  style="width: 100%; overflow: auto;">
                                                <mat-table [dataSource]="dataSourceAccount"  class="vehicles-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let account"  style="border: 0px;">
                                                            <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="account.name">{{account.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                        
                                            <mat-paginator style=" height: 40px;"
                                                #paginatorAccount
                                                class="table_paginator"
                                                [length]="dataSourceAccount.totalLength"
                                                [pageSize]="10"
                                                [hidePageSize]="true"
                                                showFirstLastButtons
                                            ></mat-paginator>
                                          
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Operator</mat-label>
                                        <mat-select formControlName="operator"  (click)="showCompanyList('operator')">
                                            <input matInput  #filter placeholder="Filter"  class="filter_company_input" (keyup) = "onKey($event)">

                                                <div  style="width: 100%; overflow: auto;">
                                                    <mat-table [dataSource]="dataSourceOperator"  class="vehicles-table font-size-10 mat-elevation-z8" >
                                                        <ng-container matColumnDef="name">
                                                            <td mat-cell *matCellDef="let operator"  style="border: 0px;">
                                                                <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="operator.name">{{operator.name}}</mat-option>
                                                            </td>
                                                        </ng-container>
                                                        <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                    </mat-table>
                                                </div>
                                            
                                                <mat-paginator style=" height: 40px;"
                                                    #paginatorOperator
                                                    class="table_paginator"
                                                    [length]="dataSourceOperator.totalLength"
                                                    [pageSize]="10"
                                                    [hidePageSize]="true"
                                                    showFirstLastButtons
                                                ></mat-paginator>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Unit Type</mat-label>
                                        <mat-select formControlName="unittype"  (click)="showCompanyList('unittype')">
                                            <input matInput   #filter placeholder="Filter"  class="filter_company_input" (keyup) = "onKey($event)">

                                            <div  style="width: 100%; overflow: auto;">
                                                <mat-table [dataSource]="dataSourceUnitType"  class="vehicles-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let unittype"  style="border: 0px;">
                                                            <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="unittype.name">{{unittype.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                        
                                            <mat-paginator style=" height: 40px;"
                                                #paginatorUnitType
                                                class="table_paginator"
                                                [length]="dataSourceUnitType.totalLength"
                                                [pageSize]="10"
                                                [hidePageSize]="true"
                                                showFirstLastButtons
                                            ></mat-paginator>
                                          
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Service Plan</mat-label>
                                        <mat-select formControlName="serviceplan"  (click)="showCompanyList('serviceplan')">
                                            <input matInput  #filter placeholder="Filter"  class="filter_company_input" (keyup) = "onKey($event)">

                                                <div  style="width: 100%; overflow: auto;">
                                                    <mat-table [dataSource]="dataSourceServicePlan"  class="vehicles-table font-size-10 mat-elevation-z8" >
                                                        <ng-container matColumnDef="name">
                                                            <td mat-cell *matCellDef="let serviceplan"  style="border: 0px;">
                                                                <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="serviceplan.name">{{serviceplan.name}}</mat-option>
                                                            </td>
                                                        </ng-container>
                                                        <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                    </mat-table>
                                                </div>
                                            
                                                <mat-paginator style=" height: 40px;"
                                                    #paginatorServicePlan
                                                    class="table_paginator"
                                                    [length]="dataSourceServicePlan.totalLength"
                                                    [pageSize]="10"
                                                    [hidePageSize]="true"
                                                    showFirstLastButtons
                                                ></mat-paginator>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Product Type</mat-label>
                                        <mat-select formControlName="producttype"  (click)="showCompanyList('producttype')">
                                            <input matInput   #filter placeholder="Filter"  class="filter_company_input" (keyup) = "onKey($event)">

                                            <div  style="width: 100%; overflow: auto;">
                                                <mat-table [dataSource]="dataSourceProductType"  class="vehicles-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let producttype"  style="border: 0px;">
                                                            <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="producttype.name">{{producttype.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                        
                                            <mat-paginator style=" height: 40px;"
                                                #paginatorProductType
                                                class="table_paginator"
                                                [length]="dataSourceProductType.totalLength"
                                                [pageSize]="10"
                                                [hidePageSize]="true"
                                                showFirstLastButtons
                                            ></mat-paginator>
                                          
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Make</mat-label>
                                        <mat-select formControlName="make"  (click)="showCompanyList('make')">
                                            <input matInput  #filter placeholder="Filter"  class="filter_company_input" (keyup) = "onKey($event)">

                                                <div  style="width: 100%; overflow: auto;">
                                                    <mat-table [dataSource]="dataSourceMake"  class="vehicles-table font-size-10 mat-elevation-z8" >
                                                        <ng-container matColumnDef="name">
                                                            <td mat-cell *matCellDef="let make"  style="border: 0px;">
                                                                <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="make.name">{{make.name}}</mat-option>
                                                            </td>
                                                        </ng-container>
                                                        <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                    </mat-table>
                                                </div>
                                                
                                                <div  class="table_paginator">
                                                    <mat-paginator style=" height: 40px;"
                                                        #paginatorMake
                                                        [length]="dataSourceMake.totalLength"
                                                        [pageSize]="10"
                                                        [hidePageSize]="true"
                                                        showFirstLastButtons
                                                    ></mat-paginator>
                                                </div>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Model</mat-label>
                                        <mat-select formControlName="model"  (click)="showCompanyList('model')">
                                            <input matInput  #filter placeholder="Filter"  class="filter_company_input" (keyup) = "onKey($event)">

                                                <div  style="width: 100%; overflow: auto;">
                                                    <mat-table [dataSource]="dataSourceModel"  class="vehicles-table font-size-10 mat-elevation-z8" >
                                                        <ng-container matColumnDef="name">
                                                            <td mat-cell *matCellDef="let model"  style="border: 0px;">
                                                                <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="model.name">{{model.name}}</mat-option>
                                                            </td>
                                                        </ng-container>
                                                        <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                    </mat-table>
                                                </div>
                                            
                                                <mat-paginator style=" height: 40px;"
                                                    #paginatorModel
                                                    class="table_paginator"
                                                    [length]="dataSourceModel.totalLength"
                                                    [pageSize]="10"
                                                    [hidePageSize]="true"
                                                    showFirstLastButtons
                                                ></mat-paginator>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Audit">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                                
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                    <mat-label>TimeZone</mat-label>
                                    <mat-select formControlName="timezone"  (click)="showCompanyList('timezone')" >
                                        <input matInput  #filter placeholder="Filter"  class="filter_company_input" (keyup) = "onKey($event)">

                                            <div  style="width: 100%; overflow: auto;">
                                                <mat-table [dataSource]="dataSourceTimeZone"  class="vehicles-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let timezone"  style="border: 0px;">
                                                            <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="timezone.name">{{timezone.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                        
                                            <mat-paginator style=" height: 40px;"
                                                #paginatorTimeZone
                                                class="table_paginator"
                                                [length]="dataSourceTimeZone.totalLength"
                                                [pageSize]="10"
                                                [hidePageSize]="true"
                                                showFirstLastButtons
                                            ></mat-paginator>
                                    </mat-select>
                                </mat-form-field>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Created</mat-label>
                                        <input matInput placeholder="Created"
                                               name="created"
                                               disibled
                                               formControlName="created">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>CreatedByName</mat-label>
                                        <input matInput placeholder="CreatedByName"
                                               name="createdbyname"
                                               disabled 
                                               formControlName="createdbyname">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Deleted When</mat-label>
                                        <input matInput placeholder="Deleted When"
                                               name="deletedwhen"
                                               disabled 
                                               formControlName="deletedwhen">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Deleted By Name</mat-label>
                                        <input matInput placeholder="Deleted By Name"
                                               name="deletedbyname"
                                               disabled 
                                               formControlName="deletedbyname">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Last Modified Date</mat-label>
                                        <input matInput placeholder="Last Modified Date"
                                               name="lastmodifieddate"
                                               disabled 
                                               formControlName="lastmodifieddate">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Last Modified By Name</mat-label>
                                        <input matInput placeholder="Last Modified By Name"
                                               name="lastmodifiedbyname"
                                               disabled 
                                               formControlName="lastmodifiedbyname">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>



                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>SubGroup</mat-label>
                                    <input matInput placeholder="SubGroup"
                                           name="subgroup"
                                           formControlName="subgroup"
                                           required>
                                </mat-form-field>
                                -->

<!-- 
                      

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Account</mat-label>
                                    <input matInput placeholder="Account"
                                           name="account"
                                           formControlName="account"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Operator</mat-label>
                                    <input matInput placeholder="Operator"
                                           name="operator"
                                           formControlName="operator"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Unit Type</mat-label>
                                    <input matInput placeholder="Unit Type"
                                           name="unittype"
                                           formControlName="unittype"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Service Plan</mat-label>
                                    <input matInput placeholder="Service Plan"
                                           name="serviceplan"
                                           formControlName="serviceplan"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Product Type</mat-label>
                                    <input matInput placeholder="Product Type"
                                           name="producttype"
                                           formControlName="producttype"
                                           required>
                                </mat-form-field>

                            </div>
                        </mat-tab>

                        <mat-tab label="Third Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Make</mat-label>
                                    <input matInput placeholder="Make"
                                           name="make"
                                           formControlName="make">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Model</mat-label>
                                    <input matInput placeholder="Model"
                                           name="model"
                                           formControlName="model"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>IsActive</mat-label>
                                    <input matInput placeholder="IsActive"
                                           name="isactive"
                                           formControlName="isactive"
                                           required>
                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="Audit">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>TimeZone</mat-label>
                                    <input matInput placeholder="TimeZone"
                                           name="timezone"
                                           formControlName="timezone">
                                </mat-form-field>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Created</mat-label>
                                        <input matInput placeholder="Created"
                                               name="created"
                                               formControlName="created">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>CreatedByName</mat-label>
                                        <input matInput placeholder="CreatedByName"
                                               name="createdbyname"
                                               formControlName="createdbyname">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Deleted When</mat-label>
                                        <input matInput placeholder="Deleted When"
                                               name="deletedwhen"
                                               formControlName="deletedwhen">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Deleted By Name</mat-label>
                                        <input matInput placeholder="Deleted By Name"
                                               name="deletedbyname"
                                               formControlName="deletedbyname">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Last Modified Date</mat-label>
                                        <input matInput placeholder="Last Modified Date"
                                               name="lastmodifieddate"
                                               formControlName="lastmodifieddate">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>Last Modified By Name</mat-label>
                                        <input matInput placeholder="Last Modified By Name"
                                               name="lastmodifiedbyname"
                                               formControlName="lastmodifiedbyname">
                                    </mat-form-field>
                                </div>

                            </div>

                        </mat-tab> -->


                </form>

                <!-- <div class="page_index">
                    <label>Page&nbsp;:&nbsp;&nbsp;</label>
                        <input class="index_input"   (keydown.enter) = "navigatePageEvent()" [(ngModel)] = "dataSource.page_index">
                    <label>&nbsp;&nbsp;of&nbsp;&nbsp;{{dataSource.total_page}}</label>
                </div> -->

                
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>

