#dialog_map {
    width: 750px;
    height: 550px;
    .header {
        background-color: whitesmoke;
        position: relative;
        top: 0px;
        height: 50px;
        margin-bottom: 2px;
    }
    * {
        height: calc(100% - 52px);
    }
    .unitMap {
        width: 100% !important;
        height: calc(100% - 52px) !important;
    }

    #streetview-map {
        display: none;
    }

    #streetview-pano {
        width: 100%;
        height: calc(100% - 52px) !important;
    }

    #streetview-container {
        position: relative;
    }

    .autocomplete_search {
        position: relative;

        height: 50px !important;
    }
}
