<div id="history" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center_table center">

        <div class="dashboard mx-8 my-16" fxLayout="row" fxLayoutAlign="center center" style="height: 120px; min-height: 100px; max-height: 100px;">
            <div fxLayout="row" fxLayoutAlign="start"  class="dashboard_notification history_notification p-0">
                <div class="color_header_history p-0 m-0" fxFlex="5"></div>
                <div class="icon_section" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
                    <img width="60%" src="assets/icons/maintenance/pending_maintenance.png">
                </div>
                <div class="dash_content" fxLayout="column" fxLayoutAlign="center" fxFlex="60">
                    <div class="h2"><strong>{{dash_history}}</strong></div>
                    <div class="h5 mb-4"><strong>{{ 'HISTORY.HISTORYNOTIFICATION' | translate }}</strong></div>
                    <div class="h5">{{ 'HISTORY.HISTORYNOTIFICATIONDETAIL' | translate }}</div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start"  class="dashboard_notification created_event">
                <div class="color_header_created p-0 m-0" fxFlex="5"></div>
                <div class="icon_section" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
                    <img width="60%" src="assets/icons/maintenance/created_maintenance.png">
                </div>
                <div class="dash_content" fxLayout="column" fxLayoutAlign="center" fxFlex="60" fxFlex="60">
                    <div class="h2"><strong>{{dash_created}}</strong></div>
                    <div class="h5 mb-4"><strong>{{ 'HISTORY.CREATEDEVENTS' | translate }}</strong></div>
                    <div class="h5">{{ 'HISTORY.CREATEDEVENTSDETAIL' | translate }}</div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start"  class="dashboard_notification postponed_notification">
                <div class="color_header_postponed p-0 m-0" fxFlex="5"></div>
                <div class="icon_section" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
                    <img width="60%" src="assets/icons/maintenance/postponed_maintenance.png">
                </div>
                <div class="dash_content" fxLayout="column" fxLayoutAlign="center" fxFlex="60" fxFlex="60">
                    <div class="h2"><strong>{{dash_postponed}}</strong></div>
                    <div class="h5 mb-4"><strong>{{ 'HISTORY.POSTPONEDNOTIFICATION' | translate }}</strong></div>
                    <div class="h5">{{ 'HISTORY.POSTPONEDNOTIFICATIONDETAIL' | translate }}</div>
                </div>
            </div>
        </div>

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    drive_eta
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{ 'HISTORY.HISTORY' | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" style="min-width: 60%;">
                <form class="example-form" fxLayout="row" fxLayoutAlign="start center" >
                    <!-- FILTER ITEM -->
                    <mat-label style="min-width: max-content;">{{'HISTORY.SELECTFIELD' | translate}}:</mat-label>

                    <mat-form-field class="ml-20 mr-20 filter_select" style="min-width: 170px;">
                        <mat-select [(value)]="selected">
                            <mat-option>None</mat-option>
                            <mat-option value="unit">{{'HISTORY.UNIT' | translate}}</mat-option>
                            <mat-option value="description">{{'HISTORY.DESCRIPTION' | translate}}</mat-option>
                            <mat-option value="notifydate">{{'HISTORY.NOTIFYDATE' | translate}}</mat-option>
                            <mat-option value="maintevent">{{'HISTORY.MAINTEVENT' | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="{{ 'HISTORY.SEARCHFORHISTORY' | translate }}" [(ngModel)] = "filter_string" (keydown.enter) = "filterEvent()">
                    </div>
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <!-- <button mat-fab
                    [routerLink]="'/admin/history/history_detail'"
                    class="accent  mt-24 mt-md-0"
                    (click)="addNewHistory()">
               <mat-icon>add</mat-icon>

            </button> -->
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" style="width: 100%; overflow: auto;" >
            <div class="spinner_overlay" *ngIf="dataSource.loading$ | async">
                <div class="spinner_container">
                    <mat-spinner
                        color="accent" 
                        mode="indeterminate"
                        diameter="50"
                        style="margin:0 auto;">
                    </mat-spinner>
                </div>
            </div>

            <mat-table class="history-table font-size-10"
                        #table [dataSource]="dataSource"
                        matSort matSortActive="id" matSortDirection="asc" matSortDisableClear
                        [@animateStagger]="{value:'50'}"
                        fusePerfectScrollbar style="width: 100%;">

                <!-- ID Column -->
                <ng-container matColumnDef="id" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'HISTORY.ATTENED' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let history">
                        <img width="24" src="assets/icons/maintenance/attend.png" (click)="attendDetail(history)">
                    </mat-cell>
                </ng-container>

                <!-- Unit Column -->
                <ng-container matColumnDef="unit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'HISTORY.UNIT' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let history">
                        <p class="unit text-truncate">{{history.unit}}</p>
                    </mat-cell>
                </ng-container>
                
                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'HISTORY.DESCRIPTION' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let history">
                        <p class="description text-truncate">
                            {{history.description}}
                        </p>
                    </mat-cell>
                </ng-container>
               
                <!-- MaintEvent Column -->
                <ng-container matColumnDef="maintevent">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'HISTORY.MAINTEVENT' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let history" >
                        <p class="maintevent text-truncate">
                            {{history.maintevent}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- NotifyDate Column -->
                <ng-container matColumnDef="notifydate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'HISTORY.NOTIFYDATE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let history" >
                        <p class="notifydate text-truncate">
                            {{history.notifydate}}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row  *matRowDef="let history; columns: displayedColumns;"
                            class="history font-size-10"
                            matRipple >
                </mat-row>

            </mat-table>

        </div>
        <div>
            <div class="page_index">
                <!-- <form> -->
                <label>Page&nbsp;:&nbsp;&nbsp;</label>
                <mat-form-field > 
                    <input class="index_input"  matInput (keydown.enter) = "navigatePageEvent()" [(ngModel)] = "dataSource.page_index">
                </mat-form-field>
                <label>&nbsp;&nbsp;of&nbsp;&nbsp;{{dataSource.total_page}}</label>
                <!-- </form> -->

            </div>
            <mat-paginator #paginator
                            showFirstLastButtons
                            class="table_paginator"
                            [length]="dataSource.totalLength"
                            [pageIndex] = "pageIndex"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page) ="pageEvent = $event">
            </mat-paginator>
        </div>
           
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
