@import "src/@fuse/scss/fuse";

logistic-monitor {
    #monitor {
        .top-bg {
            height: 200px !important;

            @include media-breakpoint("lt-md") {
                height: 126px !important;
            }
        }

        > .center_table {
            width: auto !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            background-color: #e4f0ec;
            > .header {
                height: 80x !important;
                min-height: 80px !important;
                max-height: 80px !important;
                padding-left: 30px !important;
                padding-right: 30px !important;

                @include media-breakpoint("lt-md") {
                    padding: 8px 0;
                    height: auto !important;
                    min-height: 300px !important;
                    max-height: 300px !important;
                }
            }

            .p-paginator {
                // display: flex;
                // flex-direction: row-reverse;
                position: absolute;
                top: 8px;
                right: 0;
                background-color: #f8f9fa !important;
            }
        }
    }
}

.spinner_container {
    position: absolute;
    top: 50%;
    left: 30%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.spinner_overlay {
    height: 100vh;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}
