<div id="countdown" class="page-layout simple fullwidth docs">
    <mat-toolbar class="p-0 mat-elevation-z1" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar"
                    (click)="toggleFuseSidebarOpen('navbar')" fxHide.gt-md>
                    <mat-icon class="secondary-text">menu</mat-icon>
                </button>
                <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>
                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                    <div class="logo ml-16">
                        <img class="logo-icon" src="assets/images/logos/fuse.svg">
                    </div>
                </div>
                <div class="px-8 px-md-16">
                    <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
                </div>
            </div>
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="0 1 auto">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple
                        fxLayoutAlign="start center">
                        <mat-button-toggle value="showVehicles"
                            (change)="onShowValChange($event.value); showVehicles=$event.source.checked"
                            [checked]="showVehicles" matTooltip="Show/Hide Vehicles">
                            <mat-icon class="blue-600-fg">directions_car</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="showPOIs"
                            (change)="onShowValChange($event.value); showPOIs=$event.source.checked"
                            [checked]="showPOIs" matTooltip="Show/Hide Points">
                            <mat-icon class="blue-600-fg">place</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="showZones"
                            (change)="onShowValChange($event.value); showZones=$event.source.checked"
                            [checked]="showZones" matTooltip="Show/Hide Geofences">
                            <mat-icon class="blue-600-fg">center_focus_strong</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="showRoutes"
                            (change)="onShowValChange($event.value); showRoutes=$event.source.checked"
                            [checked]="showRoutes" matTooltip="Show/Hide Routes">
                            <mat-icon class="blue-600-fg">gesture</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="showFilters" #filter
                            (change)="onShowValChange($event.value); showFilters = $event.source.checked"
                            [checked]="showFilters" matTooltip="Show/Hide Filters">
                            <mat-icon *ngIf="!showFilters" class="blue-600-fg">layers</mat-icon>
                            <mat-icon *ngIf="showFilters" class="blue-600-fg">layers_clear</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="space-between" class="ml-24">
                    <mat-select name="countryString" [(value)]="selectedCountry" placeholder="Country"
                        appearance="outline" fxFlex="48">
                        <mat-option [value]="'GB'">Great Britain</mat-option>
                        <mat-option [value]="'US'">United States</mat-option>
                        <mat-option [value]="'CA'">Canada</mat-option>
                    </mat-select>
                    <mat-select name="countryString" [(value)]="selectedCountry" placeholder="Country" fxFlex="48">
                        <mat-option [value]="'GB'">Great Britain</mat-option>
                        <mat-option [value]="'US'">United States</mat-option>
                        <mat-option [value]="'CA'">Canada</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="mr-12" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="avatar mr-0 mr-sm-16" src="assets/images/avatars/Velazquez.jpg">
                        <span class="username mr-12" fxHide fxShow.gt-sm>{{userObject.name}}</span>
                        <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                    </div>
                </button>
                <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>My Profile</span>
                    </button>
                    <button mat-menu-item class="">
                        <mat-icon>mail</mat-icon>
                        <span>Inbox</span>
                    </button>
                    <button mat-menu-item class="" (click)="logOut()" [routerLink]="'/login'">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
                <div class="toolbar-separator"></div>
                <button mat-button fxHide fxShow.gt-xs class="language-button" [matMenuTriggerFor]="languageMenu">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="flag mr-8" [src]="'assets/icons/flags/'+selectedLanguage.flag+'.png'">
                        <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                    </div>
                </button>
                <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <img class="flag mr-16" [src]="'assets/icons/flags/'+lang.flag+'.png'">
                            <span class="iso">{{lang.title}}</span>
                        </span>
                    </button>
                </mat-menu>
                <div class="toolbar-separator" fxHide fxShow.gt-xs></div>
                <button mat-icon-button class="track-panel-toggle-button" (click)="toggleSidebarOpen('trackPanel')"
                    aria-label="Toggle track panel">
                    <mat-icon class="secondary-text">gesture</mat-icon>
                </button>
                <button mat-icon-button class="quick-panel-toggle-button" (click)="toggleFuseSidebarOpen('quickPanel')"
                    aria-label="Toggle quick panel">
                    <mat-icon class="secondary-text">format_list_bulleted</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <div class="content p-0">
        <div class="spinner_overlay" *ngIf="!(filterPanelService.loading$ | async)">
            <div class="spinner_container">
                <mat-spinner color="accent" mode="indeterminate" diameter="50" style="margin:0 auto;">
                </mat-spinner>
            </div>
        </div>

        <app-mat-fab-button (createNewOptionEmitter)="newOptionEmitter($event)">
        </app-mat-fab-button>
        <div *ngIf="createOptionType === 'Create Route'">
            <app-create-route-option (removeRouteEmitter)="removeRouteEmitter()"
                (saveRouteEmitter)="saveRouteEmitter($event)">
            </app-create-route-option>
        </div>

        <agm-map #AgmMap [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
            [zoomControl]="false" [fitBounds]="isTrackUnitHistory" [fullscreenControl]='true' [mapTypeControl]='true'
            (mapReady)="onMapReady($event)" (mapClick)="addRouteLocations($event)">
            <div *ngIf="isClickedEvent">
                <agm-overlay *ngFor="let event of eventLocation" [latitude]="event.latitude"
                    [longitude]="event.longitude">
                    <div class="event_marker_div"><img class="event_marker_img" src="assets/images/event_marker.png"
                            height="40" width="40"></div>
                </agm-overlay>
            </div>
            <div *ngIf="(filterPanelService.loading$ | async)">
                <agm-marker-cluster *ngIf="vehMarkersService.vehicleMarkers$ | async as vehicleMarkers"
                    [minimumClusterSize]="minClusterSize"
                    imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
                    <agm-marker *ngFor="let m of vehicleMarkers; trackBy: trackedMarker; let i = index"
                        (markerClick)="clickedMarker(m.id, 'unitInfoPanel')" [latitude]="m.lat" [longitude]="m.lng"
                        [markerDraggable]="m.draggable === 'true'" [visible]="true" [iconUrl]="unit_icon"
                        [label]="{color: '#1e1e1e', text: m.name, fontSize: '14px', fontWeight: 'bold', fontFamily: 'Muli'}">
                    </agm-marker>
                </agm-marker-cluster>
                <agm-marker-cluster *ngIf="vehMarkersService.poiMarkers$ | async as poiMarker"
                    [minimumClusterSize]="minClusterSize"
                    imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
                    <agm-marker *ngFor="let m of poiMarker; trackBy: trackedMarker; let i = index"
                        (markerClick)="clickedMarker(m.id, 'poiInfoPanel')" [latitude]="m.latitude"
                        [longitude]="m.longitude"
                        [label]="{color: '#1e1e1e', text: m.name, fontSize: '14px', fontWeight: 'bold',  fontFamily: 'Muli'}"
                        [markerDraggable]="m.draggable == 'true'" [visible]="true" [iconUrl]="poi_icon">
                    </agm-marker>
                </agm-marker-cluster>
                <agm-polyline *ngFor="let rte of routesService.routes$ | async as polyline" [strokeColor]="'blue'">
                    <agm-polyline-point *ngFor="let pnt of rte" [latitude]="pnt.lat" [longitude]="pnt.lng">
                    </agm-polyline-point>
                </agm-polyline>
                <agm-polygon *ngFor="let zone of zonesService.zones$ | async as polygon" [fillColor]="'red'"
                    [fillOpacity]="0.1" [strokeColor]="'red'" [strokeOpacity]="0.1" [strokeWeight]="2" [paths]="polygon"
                    [zIndex]="1">
                </agm-polygon>
            </div>

            <div *ngIf="isTrackUnitHistory">
                <agm-polyline *ngFor="let rte of trackHistoryPolylines" [strokeColor]="rte.strokeColor">
                    <agm-polyline-point *ngFor="let pnt of rte.historyList" [latitude]="pnt.lat" [longitude]="pnt.lng"
                        [agmFitBounds]="true">
                    </agm-polyline-point>
                </agm-polyline>
            </div>
            <ng-container *ngIf="createOptionType === 'Create Route' && !agmDirectionGeneratorService.isGenerateRoute">
                <agm-marker *ngFor="let m of agmDirectionGeneratorService.newRouteLocations; let i = index"
                    [latitude]="m.lat" [longitude]="m.lng" [markerDraggable]="true" [visible]="true"
                    (dragEnd)="markerDragEnd($event, i)">
                </agm-marker>
            </ng-container>
        </agm-map>
    </div>

    <button *ngIf="showFilters" mat-icon-button class="warn mat-elevation-z2 filter-panel-button"
        (click)="toggleSidebarOpen('filterPanel')">
        <mat-icon>layers</mat-icon>
    </button>
    <button *ngIf="isClickedEvent" mat-icon-button class="warn mat-elevation-z2 event-clean-button"
        (click)="cleanEventLocation()">
        <mat-icon class="event_clean">location_off</mat-icon>
    </button>

    <unitinfo-sidebar name="unitInfoPanel" class="unitInfoPanel-sidebar" position="right">
        <unitInfo-panel [currentUnit]="currentUnit" [currentOperator]="currentOperator" [currentEvents]="currentEvents"
            (eventLocation)="showEventLocation($event)">
        </unitInfo-panel>
    </unitinfo-sidebar>
    <unitinfo-sidebar name="poiInfoPanel" class="unitInfoPanel-sidebar" position="right">
        <poiInfo-panel [currentPOI]="currentPOI" [currentPOIEvents]="currentEvents"
            (eventLocation)="showEventLocation($event)">
        </poiInfo-panel>
    </unitinfo-sidebar>
    <unitinfo-sidebar name="filterPanel" class="filterPanel-sidebar" position="right">
        <filter-panel *ngIf="showFilters" (filterPanelCloseEmitter)="filterToggleOff($event)"
            (unitLocateNowEmitter)="unitLocateNow($event)" (filterUnits)="filterUnits($event)">
        </filter-panel>
    </unitinfo-sidebar>
    <unitinfo-sidebar name="trackPanel" class="trackPanel-sidebar w-700" position="right">
        <track-panel (centerTrackLocation)="centerTrackLocation($event)" (trackHistory)="showHideTrackPolyline($event)">
        </track-panel>
    </unitinfo-sidebar>
</div>