<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ 'MAP.TITLE' | translate }}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0">
        <form [formGroup]="saveRouteForm">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ 'MAP.NAME' | translate }}</mat-label>
                    <input name="name" formControlName="name" matInput required>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="mr-8" (click)="matDialogRef.close()" aria-label="Close" matTooltip="Close">
            {{ 'MAP.CLOSE' | translate }}
        </button>

        <button mat-button class="save-button accent" (click)="save()" [disabled]="saveRouteForm.invalid"
            aria-label="SAVE">
            {{ 'MAP.SAVE' | translate }}
        </button>

    </div>
</div>