<div id="dialog_table">
    <div *ngIf="flag == 'duplicate'">
        <h2 mat-dialog-title>{{'ASSETS.DUPLICATE_CONFIRM_MESSAGE' | translate}}</h2>
        <mat-dialog-actions>
            <div class="confirm_buttons">
                <button class="mat-raised-button accent-500" (click)="save()">
                    {{'ASSETS.DUPLICATE' | translate}}
                </button>
                <button class="mat-raised-button" (click)="close()">
                    {{'ASSETS.NO' | translate}}
                </button>
            </div>
        </mat-dialog-actions>
    </div>

    <div *ngIf="flag == 'delete'">
        <h2 mat-dialog-title>{{'ASSETS.DELETE_CONFIRM_MESSAGE' | translate}}</h2>
        <mat-dialog-actions>
            <div class="confirm_buttons">
                <button class="mat-raised-button accent-500" (click)="save()">
                    {{'ASSETS.DELETE' | translate}}
                </button>
                <button class="mat-raised-button" (click)="close()">
                    {{'ASSETS.NO' | translate}}
                </button>
            </div>
        </mat-dialog-actions>
    </div>

    <div *ngIf="flag == 'goback'">
        <h2 mat-dialog-title>{{'ASSETS.GOBACK_CONFIRM_MESSAGE' | translate}}</h2>
        <mat-dialog-actions>
            <div class="confirm_buttons">
                <button class="mat-raised-button accent-500" (click)="goback()" fxFlex="30">
                    {{'ASSETS.YES' | translate}}
                </button>
                <button class="mat-raised-button" (click)="close()" fxFlex="30">
                    {{'ASSETS.NO' | translate}}
                </button>
            </div>
        </mat-dialog-actions>
    </div>
</div>