<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span *ngIf="flag == 'new'" class="title dialog-title">{{ 'CONTRACTOR.NEWCONTRACTOR' | translate }}</span>
            <span *ngIf="flag == 'edit'"
                class="title dialog-title">{{ 'CONTRACTOR.CONTRACTORDETAIL' | translate }}</span>
            <button mat-icon-button (click)="close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="contractorForm">
            <div fxLayout="column">
                <mat-form-field appearance="outline" floatLabel="never" class="w-100-p">
                    <mat-label>{{ 'CONTRACTOR.NAME' | translate }}</mat-label>
                    <input matInput placeholder="Name" name="name" formControlName="name" required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>{{ 'CONTRACTOR.CONTACTNAME' | translate }}</mat-label>
                    <input matInput placeholder="ContractName" name="contactname" formControlName="contactname"
                        required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>{{ 'CONTRACTOR.NUMBER' | translate }}</mat-label>
                    <input matInput placeholder="Number" name="number" formControlName="number" required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>{{ 'CONTRACTOR.EMAIL' | translate }}</mat-label>
                    <input matInput placeholder="Email" name="email" formControlName="email" required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>{{ 'CONTRACTOR.NOOFINSTALLERS' | translate }}</mat-label>
                    <input matInput placeholder="No of Installers" name="noofinstallers"
                        formControlName="noofinstallers" required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="select_list">
                    <mat-label>{{ 'CONTRACTOR.CARRIER' | translate }}</mat-label>
                    <mat-select (click)="showCarrierList('carrier_clist')" formControlName="carrier">
                        <div class="filter_carrier_input">
                            <input matInput formControlName="filterstring" #filter placeholder="Filter"
                                (keyup)="onKey($event)">
                            <mat-icon (click)="clearFilter()">clear</mat-icon>
                        </div>

                        <div style="width: 100%; overflow: auto;">
                            <mat-table [dataSource]="dataSourceCarrier"
                                class="vehicles-table font-size-10 mat-elevation-z8">
                                <ng-container matColumnDef="name">
                                    <td mat-cell *matCellDef="let carrier;" style="border: 0px;">
                                        <mat-option [value]="carrier.id">{{carrier.name}}</mat-option>
                                    </td>
                                </ng-container>
                                <tr class="carrier_list" style="height: 15px;" mat-row
                                    *matRowDef="let row; columns: displayedColumns;">
                                </tr>
                            </mat-table>
                        </div>
                        <mat-paginator style=" height: 40px;" #paginatorCarrier class="table_paginator_detail"
                            [length]="dataSourceCarrier.totalLength" [pageSize]="10" [hidePageSize]="true"
                            showFirstLastButtons (click)="carrierPagenation(paginatorCarrier)" sticky="true">
                        </mat-paginator>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="mr-8" (click)="close()" aria-label="Close" matTooltip="Close">
            {{ 'CONTRACTOR.CLOSE' | translate }}
        </button>
        <button *ngIf="flag=='edit'" mat-button class="save-button accent" (click)="save()"
            [disabled]="contractorForm.invalid" aria-label="SAVE">
            {{ 'CONTRACTOR.SAVE' | translate }}
        </button>
        <button *ngIf="flag=='new'" mat-button class="save-button accent" (click)="add()"
            [disabled]="contractorForm.invalid" aria-label="ADD">
            {{ 'CONTRACTOR.ADD' | translate }}
        </button>
    </div>
</div>