<div id="dashboard-analytics" class="page-layout carded fullwidth tabbed">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header accent p-24">
            <div class="title-clips h-52" fxLayout="row" fxLayoutAlign="start center">
                <div class="h1" fxFlex="30">{{ 'ANAYLYTICS.DASHBOARDS' | translate }}</div>
                <div class="clip-list" *ngIf="isEditClips">
                    <div *ngFor="let clip of dashboardclips_Clist" class="draggable" draggable="true"
                        (dragend)="addNewWidget(clip)" (click)="addNewWidget(clip)" [matTooltip]="clip.name">
                        <img [src]="clip_img_url + clip.name + '.png'"
                            class="w-40 mat-elevation-z8 chart-icon line-chart">
                    </div>
                </div>
            </div>
            <div class="filter-save-edit-button" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="filter-option" fxLayout="row" fxFlex="85">
                    <div class="time-filter-option" fxLayout="row" fxFlex="50">
                        <form class="time-filter-form" fxLayout="row" fxLayoutAlign="start center">
                            <!-- FILTER ITEM -->
                            <mat-label style="min-width: max-content;">{{ 'ANAYLYTICS.TIME' | translate }}:&nbsp;&nbsp;
                            </mat-label>
                            <mat-form-field class="ml-20 mr-20 filter_select" style="min-width: 140px;">
                                <mat-select [(value)]="selectedTime" (selectionChange)="onChangeToggle($event)">
                                    <mat-option value=""></mat-option>
                                    <mat-option value="today">{{ 'ANAYLYTICS.TODAY' | translate }}</mat-option>
                                    <mat-option value="this_week">{{ 'ANAYLYTICS.THISWEEK' | translate }}</mat-option>
                                    <mat-option value="this_month">{{ 'ANAYLYTICS.THISMONTH' | translate }}</mat-option>
                                    <mat-option value="date_range">{{ 'ANAYLYTICS.DATERANGE' | translate }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                        <div *ngIf="selectedTime == 'date_range'">
                            <div class="date-range">
                                <form [formGroup]="dateRangeForm">
                                    <mat-form-field style="min-width: 220px;">
                                        <input matInput class="pl-12" (dateChange)="rangeChange($event)"
                                            [satDatepicker]="picker2" formControlName="date">
                                        <sat-datepicker #picker2 [rangeMode]="true">
                                        </sat-datepicker>
                                        <sat-datepicker-toggle matSuffix [for]="picker2" style="color: whitesmoke">
                                        </sat-datepicker-toggle>
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="group-filter-option" fxLayout="row" fxFlex="50">
                        <form class="group-filter-form" fxLayout="row" fxLayoutAlign="start center">
                            <!-- FILTER ITEM -->
                            <mat-label style="min-width: max-content;">{{ 'ANAYLYTICS.GROUP' | translate }}:</mat-label>
                            <mat-form-field class="ml-20 mr-20 filter_select" style="min-width: 140px;">
                                <mat-select [(value)]="selectedGroup" (selectionChange)="onChangeToggle($event)">
                                    <mat-option value=""></mat-option>
                                    <mat-option value="vehicle">{{ 'ANAYLYTICS.VEHICLE' | translate }}</mat-option>
                                    <mat-option value="company">{{ 'ANAYLYTICS.COMPANY' | translate }}</mat-option>
                                    <mat-option value="group">{{ 'ANAYLYTICS.GROUP' | translate }}</mat-option>
                                    <mat-option value="vehicletype">{{ 'ANAYLYTICS.VEHICLETYPE' | translate }}
                                    </mat-option>
                                    <mat-option value="serviceplan">{{ 'ANAYLYTICS.SERVICEPLAN' | translate }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                </div>
                <!-- <div class="isSelection-toggle" *ngIf="!isEditClips">
                    <mat-slide-toggle class="tp-margin primary-fg mr-12" [checked]="isToggled"
                        (change)="onChangeToggle($event)">

                    </mat-slide-toggle>
                </div> -->
                <div class="add-edit-button" *ngIf="!isEditClips" fxFlex="15">
                    <button mat-raised-button class="add-new-widget mr-4" (click)="addDashboard()">
                        <span>&nbsp;&nbsp;{{ 'ANAYLYTICS.ADD' | translate }}&nbsp;&nbsp;</span>
                    </button>
                    <button mat-raised-button class="add-new-widget mr-4" (click)="editDashboard()">
                        <span>&nbsp;&nbsp;{{ 'ANAYLYTICS.EDIT' | translate }}&nbsp;&nbsp;</span>
                    </button>
                </div>
                <div class="save-cancel-button" *ngIf="isEditClips" fxFlex="15">
                    <button mat-raised-button class="save-dashboard-button mr-4" (click)="saveDashboardClips()">
                        <span>&nbsp;&nbsp;{{ 'ANAYLYTICS.SAVE' | translate }}&nbsp;&nbsp;</span>
                    </button>
                    <button mat-raised-button class="save-dashboard-button" (click)="cancelDashboardClips()">
                        <span>{{ 'ANAYLYTICS.CANCEL' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group #tabs *ngIf="loading$ | async" (selectedTabChange)="tabChanged($event)"
                    [(selectedIndex)]="activatedTabIndex">
                    <mat-tab *ngFor="let dashboard of dashboard_Clist; let i = index" [label]="dashboard.name"
                        [disabled]="isEditClips">
                        <ng-template mat-tab-label>
                            <mat-icon class="active-icon s-16 delete_icon" (click)="deleteDashboard(dashboard)"
                                [ngStyle]="{'display':(!isEditClips || !(activatedTabIndex == i))? 'none': 'block' }">
                                delete
                            </mat-icon>
                            <input type="text" class="tab_label_input" [(ngModel)]="dashboard.name"
                                [disabled]="!isEditClips || !(activatedTabIndex == i)">
                        </ng-template>
                        <div class="tab-content p-0">
                            <app-layout [isEditClips]="isEditClips" [widgets]="currentTab_widgets"
                                (editedDashboard)='checkingEdited($event)' (deleteWidgetId)='deleteWidget($event)'>
                            </app-layout>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>