@import "src/@fuse/scss/fuse";

.create-zone-dialog {
  @include media-breakpoint("xs") {
    width: 100%;
  }

  @include media-breakpoint("gt-xs") {
    width: 400px;
  }
  .mat-dialog-container {
    padding: 0;

    .mat-toolbar {
      flex: 1 0 auto;
      min-height: initial;
    }

    .toolbar-bottom {
      height: auto;
    }
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }
  .mat-datepicker-toggle-default-icon {
    margin-left: 16px !important;
  }
}

.filter_carrier_input {
  border: 1px solid #b3b1b1 !important;
  border-radius: 5px !important;
  margin: 20px !important;
  width: 90% !important;
  height: 40px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

body.theme-default
  .mat-select-panel
  .mat-option.mat-selected:not(.mat-option-multiple) {
  background: white !important;
}
