<div id="dialog_table">
    <div *ngIf="flag == 'duplicate'">
        <h2 mat-dialog-title>{{'COMPANIES.DUPLICATE_CONFIRM_MESSAGE' | translate}}</h2>

        <mat-dialog-actions>
            <div class="confirm_buttons">
                <button class="mat-raised-button accent-500" (click)="save()">
                    {{'COMPANIES.DUPLICATE' | translate}}
                </button>

                <button class="mat-raised-button" (click)="close()">
                    {{'COMPANIES.CANCEL' | translate}}
                </button>
            </div>

        </mat-dialog-actions>
    </div>


    <div *ngIf="flag == 'delete'">
        <h2 mat-dialog-title>{{'COMPANIES.DELETE_CONFIRM_MESSAGE' | translate}}</h2>

        <mat-dialog-actions>
            <div class="confirm_buttons">
                <button class="mat-raised-button accent-500" (click)="save()">
                    {{'COMPANIES.DELETE' | translate}}
                </button>

                <button class="mat-raised-button" (click)="close()">
                    {{'COMPANIES.CANCEL' | translate}}
                </button>
            </div>

        </mat-dialog-actions>
    </div>

    <div *ngIf="flag == 'goback'">
        <h2 mat-dialog-title>{{'COMPANIES.GOBACK_CONFIRM_MESSAGE' | translate}}</h2>

        <mat-dialog-actions>
            <div class="confirm_buttons">
                <button class="mat-raised-button accent-500" (click)="goback()">
                    {{'COMPANIES.OK' | translate}}
                </button>

                <button class="mat-raised-button" (click)="close()">
                    {{'COMPANIES.CANCEL' | translate}}
                </button>
            </div>

        </mat-dialog-actions>
    </div>
</div>