<div id="vehicles" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center_table center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    drive_eta
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{ 'VEHICLES.VEHICLES' | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" style="min-width: 60%;">
                <form class="example-form" fxLayout="row" fxLayoutAlign="start center" >
                    <!-- FILTER ITEM -->
                    <mat-label style="min-width: max-content;">{{'VEHICLES.SELECTFIELD' | translate}}:</mat-label>

                    <mat-form-field class="ml-20 mr-20 filter_select" style="min-width: 170px;">
                        <mat-select [(value)]="selected">
                            <mat-option>None</mat-option>
                            <mat-option value="name">{{'VEHICLES.NAME' | translate}}</mat-option>
                            <mat-option value="company">{{'VEHICLES.COMPANY' | translate}}</mat-option>
                            <mat-option value="group">{{'VEHICLES.GROUP' | translate}}</mat-option>
                            <mat-option value="subgroup">{{'VEHICLES.SUBGROUP' | translate}}</mat-option>
                            <mat-option value="account">{{'VEHICLES.ACCOUNT' | translate}}</mat-option>
                            <mat-option value="operator">{{'VEHICLES.OPERATOR' | translate}}</mat-option>
                            <mat-option value="unittype">{{'VEHICLES.UNITTYPE' | translate}}</mat-option>
                            <mat-option value="serviceplan">{{'VEHICLES.SERVICEPLAN' | translate}}</mat-option>
                            <mat-option value="producttype">{{'VEHICLES.PRODUCTTYPE' | translate}}</mat-option>
                            <mat-option value="make">{{'VEHICLES.MAKE' | translate}}</mat-option>
                            <mat-option value="model">{{'VEHICLES.MODEL' | translate}}</mat-option>
                            <mat-option value="isactive">{{'VEHICLES.ISACTIVE' | translate}}</mat-option>
                            <mat-option value="timezone">{{'VEHICLES.TIMEZONE' | translate}}</mat-option>
                            <mat-option value="created">{{'VEHICLES.CREATED' | translate}}</mat-option>
                            <mat-option value="created">{{'VEHICLES.CREATEDBYNAME' | translate}}</mat-option>
                            <mat-option value="deletedwhen">{{'VEHICLES.DELETEDWHEN' | translate}}</mat-option>
                            <mat-option value="deletedwhen">{{'VEHICLES.DELETEDBYNAME' | translate}}</mat-option>
                            <mat-option value="lastmodifieddate">{{'VEHICLES.LASTMODIFIEDDATE' | translate}}</mat-option>
                            <mat-option value="lastmodifieddate">{{'VEHICLES.LASTMODIFIEDBYNAME' | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="{{ 'VEHICLES.SEARCHFORVEHICLE' | translate }}" [(ngModel)] = "filter_string" (keydown.enter) = "filterEvent()">
                    </div>
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-fab
                    [routerLink]="'/admin/vehicles/vehicle_detail'"
                    class="accent  mt-24 mt-md-0">
               <mat-icon (click)="addNewVehicle()">add</mat-icon>

            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" style="width: 100%; overflow: auto;" >
            <div class="spinner_overlay" *ngIf="dataSource.loading$ | async">
                <div class="spinner_container">
                    <mat-spinner
                        color="accent" 
                        mode="indeterminate"
                        diameter="50"
                        style="margin:0 auto;">
                    </mat-spinner>
                </div>
            </div>

            <mat-table class="vehicles-table font-size-10"
                        #table [dataSource]="dataSource"
                        matSort matSortActive="id" matSortDirection="asc" matSortDisableClear
                        [@animateStagger]="{value:'50'}"
                        fusePerfectScrollbar style="width: 250%;">

                <!-- ID Column -->
                <ng-container matColumnDef="id" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let vehicle">
                        <mat-icon class="active-icon s-16 edit_icon"  matRipple (click) = "editShowVehicleDetail(vehicle)">edit</mat-icon>
                        <mat-icon class="active-icon s-16 delete_icon" (click)="deleteVehicle(vehicle)">delete</mat-icon>
                        <mat-icon class="active-icon s-16 copy_icon" (click)="duplicateVehicle(vehicle)">file_copy</mat-icon>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'VEHICLES.NAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle">
                        <p class="name text-truncate">{{vehicle.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Company Column -->
                <ng-container matColumnDef="company">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>{{ 'VEHICLES.COMPANY' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-md>
                        <p class="company text-truncate">
                            {{vehicle.company}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Group Column -->
                <ng-container matColumnDef="group">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.GROUP' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="group text-truncate">
                            {{vehicle.group}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- SubGroup Column -->
                <ng-container matColumnDef="subgroup">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.SUBGROUP' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="subgroup text-truncate">
                            {{vehicle.subgroup}}
                        </p>
                    </mat-cell>
                </ng-container>
                
                <!-- Account Column -->
                <ng-container matColumnDef="account">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.ACCOUNT' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="account text-truncate">
                            {{vehicle.account}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- Operator Column -->
                 <ng-container matColumnDef="operator">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.OPERATOR' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="operator text-truncate">
                            {{vehicle.operator}}
                        </p>
                    </mat-cell>
                </ng-container>
                
                <!-- UnitType Column -->
                <ng-container matColumnDef="unittype">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.UNITTYPE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="unittype text-truncate">
                            {{vehicle.unittype}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- ServicePlan Column -->
                <ng-container matColumnDef="serviceplan">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.SERVICEPLAN' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="serviceplan text-truncate">
                            {{vehicle.serviceplan}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- ProductType Column -->
                <ng-container matColumnDef="producttype">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.PRODUCTTYPE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="producttype text-truncate">
                            {{vehicle.producttype}}
                        </p>
                    </mat-cell>
                </ng-container>
                
                <!-- Make Column -->
                <ng-container matColumnDef="make">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.MAKE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="make text-truncate">
                            {{vehicle.make}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Model Column -->
                <ng-container matColumnDef="model">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.MODEL' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="model text-truncate">
                            {{vehicle.model}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- IsActive Column -->
                <ng-container matColumnDef="isactive">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.ISACTIVE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="isactive text-truncate">
                            {{vehicle.isactive}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- TimeZone Column -->
                <ng-container matColumnDef="timezone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.TIMEZONE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="timezone text-truncate">
                            {{vehicle.timezone}}
                        </p>
                    </mat-cell>
                </ng-container>
                
                <!-- Created Column -->
                <ng-container matColumnDef="created">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.CREATED' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="created text-truncate">
                            {{vehicle.created}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- CreatedByName Column -->
                 <ng-container matColumnDef="createdbyname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.CREATEDBYNAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="created text-truncate">
                            {{vehicle.createdbyname}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- DeletedWhen Column -->
                <ng-container matColumnDef="deletedwhen">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.DELETEDWHEN' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="deletedwhen text-truncate">
                            {{vehicle.deletedwhen}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Deleted Column -->
                <ng-container matColumnDef="deletedbyname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.DELETEDBYNAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="deletedbyname text-truncate">
                            {{vehicle.deletedbyname}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- LastModifiedDate Column -->
                <ng-container matColumnDef="lastmodifieddate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.LASTMODIFIEDDATE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="lastmodifieddate text-truncate">
                            {{vehicle.lastmodifieddate}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- LastModifiedbyname Column -->
                <ng-container matColumnDef="lastmodifiedbyname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'VEHICLES.LASTMODIFIEDBYNAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let vehicle" fxHide fxShow.gt-xs>
                        <p class="lastmodifiedbyname text-truncate">
                            {{vehicle.lastmodifiedbyname}}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row  *matRowDef="let vehicle; columns: displayedColumns;"
                            class="vehicle font-size-10"
                            matRipple >
                </mat-row>

            </mat-table>

        </div>
        <div>
            <div class="page_index">
                <!-- <form> -->
                <label>Page&nbsp;:&nbsp;&nbsp;</label>
                <mat-form-field > 
                    <input class="index_input"  matInput (keydown.enter) = "navigatePageEvent()" [(ngModel)] = "dataSource.page_index">
                </mat-form-field>
                <label>&nbsp;&nbsp;of&nbsp;&nbsp;{{dataSource.total_page}}</label>
                <!-- </form> -->

            </div>
            <mat-paginator #paginator
                            showFirstLastButtons
                            class="table_paginator"
                            [length]="dataSource.totalLength"
                            [pageIndex] = "pageIndex"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page) ="pageEvent = $event">
            </mat-paginator>
        </div>
           
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
