<div id="vehicles" class="page-layout carded fullwidth docs">

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg accent"></div> -->
    <!-- / TOP BACKGROUND -->
    <!-- HEADER -->
    <div class="header accent mx-md-30 header_vehicle"
        fxLayout="column" fxLayoutAlign="center center"
        fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

        <!-- APP TITLE -->
        <div class="logo mb-24 mb-md-0"
                fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                drive_eta
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Vehicles
            </span>
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="search-wrapper mx-32 mx-md-0">
            <div fxLayout="row" fxLayoutAlign="start center">
                <form class="example-form">
                    <!-- FILTER ITEM -->
                    <mat-label>Select Item:</mat-label>

                    <mat-form-field class="ml-20 mr-20 filter_select">
                        <mat-select [(value)]="selected">
                            <!-- <mat-option>None</mat-option> -->
                            <mat-option value="unit">Unit</mat-option>
                            <mat-option value="Driver">Driver</mat-option>
                            <mat-option value="SubFleet">SubFleet</mat-option>
                            <mat-option value="Group">Group</mat-option>
                            <mat-option value="Device">Device</mat-option>
                            <mat-option value="Make">Make</mat-option>
                            <mat-option value="Model">Model</mat-option>
                            <mat-option value="VIN">VIN</mat-option>
                            <mat-option value="Plate">Plate</mat-option>
                            <mat-option value="Last_Report">Last Report</mat-option>
                            <mat-option value="Location">Location</mat-option>
                            <mat-option value="Status">Status</mat-option>
                            <mat-option value="ServicePlan">Service Plan</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- /FITER ITEM -->
                    <mat-form-field class="filter_input">
                        <div   fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-icon>search</mat-icon>
                            <input #search matInput class="ml-20">
                        </div>
                    </mat-form-field>
                </form>
            </div>
            <!-- <div class="search row" fxFlex  fxLayoutAlign="start center">
                <input #search placeholder="Filter" class="filter_input ">
            </div> -->
            <div fxFlex fxLayoutAlign="start center" class="ml-20">
                <label >Page Size:&nbsp;&nbsp;</label>
                <select  id="per-page" (change)="onLimitChange($event.target.value)">
                    <option
                        *ngFor="let option of pageLimitOptions"
                        [value]="option.value"
                        [selected]="option.value == currentPageLimit"
                    >
                    {{ option.value }}
                    </option>
                </select>
            </div>
        </div>
        <!-- / SEARCH -->

        <!-- ADD BUTTON -->
        <!-- <button mat-raised-button
                [routerLink]="'/apps/e-commerce/products/new'"
                class="add-product-button fuse-white mt-24 mt-md-0">
            <span>ADD NEW </span>
        </button> -->
        <!-- / ADD BUTTON -->

        <!-- ADD CONTACT BUTTON -->
        <button mat-fab class="accent" id="add-vehicle-button" [routerLink]="'/vehicles_detail'" aria-label="add Vehicles"
            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
            <!-- <mat-icon>loupe</mat-icon> -->
            <mat-icon>add</mat-icon>
        </button>
<!-- / ADD CONTACT BUTTON -->

    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT CARD -->
    <div class="content-card">

        <!-- CONTENT -->
        <div class="content p-0">
            <ngx-datatable
                class="bootstrap"
                [columns] = "columns"
                [rows]="VEHICLE"
                [loadingIndicator]="loadingIndicator"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="40"
                [rowHeight]="35"
                [scrollbarH]="true"
                [reorderable]="reorderable"
                [selectionType]="'checkbox'"
                [limit]="10">

                <!-- <ngx-datatable-column [width]="48"
                                    [canAutoResize]="false"
                                    [sortable]="false">
                    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                                let-selectFn="selectFn">
                        <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                    </ng-template>

                    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                                let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                    </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column  [width]="200" name="Unit" prop="unit"></ngx-datatable-column>

                <ngx-datatable-column  name="Driver" prop="Driver" ></ngx-datatable-column>

                <ngx-datatable-column  name="SubFleet" prop="SubFleet" ></ngx-datatable-column>

                <ngx-datatable-column name="Group" prop="Group" ></ngx-datatable-column>

                <ngx-datatable-column name="Device" prop="Device" ></ngx-datatable-column>

                <ngx-datatable-column name="Make" prop="Make" ></ngx-datatable-column>

                <ngx-datatable-column name="Model" prop="Model" ></ngx-datatable-column>

                <ngx-datatable-column name="VIN" prop="VIN"></ngx-datatable-column>

                <ngx-datatable-column name="Plate" prop="Plate" ></ngx-datatable-column>

                <ngx-datatable-column name="Last Report" prop="Last_Report" ></ngx-datatable-column>

                <ngx-datatable-column name="Location" prop="Location" ></ngx-datatable-column>

                <ngx-datatable-column name="Status" prop="Status" ></ngx-datatable-column>

                <ngx-datatable-column name="Service Plan" prop="ServicePlan" ></ngx-datatable-column>

            </ngx-datatable>

        </div>
    </div>
    <!-- / CONTENT CARD -->

</div>

