<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ 'MONITOR.CONTACTREPORT' | translate }}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-28 pb-0 m-0" fusePerfectScrollbar>
        <div class="" fusePerfectScrollbar fxLayout="column">
            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="p-field-checkbox">
                    <p-checkbox [(ngModel)]="isImportPath" binary="true" inputId="importPath"></p-checkbox>
                    <label for="importPath" class="ml-8">Import Path</label>
                </div>
                <div class="p-field-checkbox">
                    <p-checkbox [(ngModel)]="isSelectRoute" binary="true" inputId="selectRoute"></p-checkbox>
                    <label for="selectRoute" class="ml-8">Select Route</label>
                </div>
                <div class="p-field-checkbox">
                    <p-checkbox [(ngModel)]="isPOP" binary="true" inputId="pointToPoint"></p-checkbox>
                    <label for="pointToPoint" class="ml-8">Point to Point</label>
                </div>
            </div>
            <form [formGroup]="newTripForm">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field fxFlex="100" class="select_list" appearance="outline" floatLabel="always">
                        <mat-label>{{ 'MONITOR.ROUTE' | translate }}</mat-label>
                        <mat-select (click)="showCompanyList('unit_clist')" formControlName="route">
                            <div class="filter_input">
                                <input matInput formControlName="filterstring" #filter placeholder="Filter"
                                    (keyup)="onKey($event)">
                                <mat-icon (click)="clearFilter()">clear</mat-icon>
                            </div>
                            <div style="width: 100%; overflow: auto;">
                                <mat-table [dataSource]="dataSourceUnit"
                                    class="unit-table font-size-10 mat-elevation-z8">
                                    <ng-container matColumnDef="name">
                                        <td mat-cell *matCellDef="let unit;" style="border: 0px;">
                                            <mat-option [value]="unit.id">{{unit.name}}</mat-option>
                                        </td>
                                    </ng-container>
                                    <tr class="unit_list" style="height: 15px;" mat-row
                                        *matRowDef="let row; columns: displayedColumns;">
                                    </tr>
                                </mat-table>
                            </div>
                            <mat-paginator style=" height: 40px;" #paginatorUnit class="table_paginator_detail"
                                [length]="dataSourceUnit.totalLength" [pageSize]="10" [hidePageSize]="true"
                                showFirstLastButtons sticky="true" (click)="unitPagenation(paginatorUnit)">
                            </mat-paginator>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field fxFlex="100" class="select_list" appearance="outline" floatLabel="always">
                        <mat-label>{{ 'MONITOR.UNIT' | translate }}</mat-label>
                        <mat-select (click)="showCompanyList('unit_clist')" formControlName="unit">
                            <div class="filter_input">
                                <input matInput formControlName="filterstring" #filter placeholder="Filter"
                                    (keyup)="onKey($event)">
                                <mat-icon (click)="clearFilter()">clear</mat-icon>
                            </div>
                            <div style="width: 100%; overflow: auto;">
                                <mat-table [dataSource]="dataSourceUnit"
                                    class="unit-table font-size-10 mat-elevation-z8">
                                    <ng-container matColumnDef="name">
                                        <td mat-cell *matCellDef="let unit;" style="border: 0px;">
                                            <mat-option [value]="unit.id">{{unit.name}}</mat-option>
                                        </td>
                                    </ng-container>
                                    <tr class="unit_list" style="height: 15px;" mat-row
                                        *matRowDef="let row; columns: displayedColumns;">
                                    </tr>
                                </mat-table>
                            </div>
                            <mat-paginator style=" height: 40px;" #paginatorUnit class="table_paginator_detail"
                                [length]="dataSourceUnit.totalLength" [pageSize]="10" [hidePageSize]="true"
                                showFirstLastButtons sticky="true" (click)="unitPagenation(paginatorUnit)">
                            </mat-paginator>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field fxFlex="100" class="select_list" appearance="outline" floatLabel="always">
                        <mat-label>{{ 'MONITOR.OPERATOR' | translate }}</mat-label>
                        <mat-select (click)="showCompanyList('operator_clist')" formControlName="operator">
                            <div class="filter_input">
                                <input matInput formControlName="filterstring" #filter placeholder="Filter"
                                    (keyup)="onKey($event)">
                                <mat-icon (click)="clearFilter()">clear</mat-icon>
                            </div>
                            <div style="width: 100%; overflow: auto;">
                                <mat-table [dataSource]="dataSourceOperator"
                                    class="unit-table font-size-10 mat-elevation-z8">
                                    <ng-container matColumnDef="name">
                                        <td mat-cell *matCellDef="let operator;" style="border: 0px;">
                                            <mat-option [value]="operator.id">{{operator.name}}</mat-option>
                                        </td>
                                    </ng-container>
                                    <tr class="operator_list" style="height: 15px;" mat-row
                                        *matRowDef="let row; columns: displayedColumns;">
                                    </tr>
                                </mat-table>
                            </div>
                            <mat-paginator style="height: 40px;" #paginatorOperator class="table_paginator_detail"
                                [length]="dataSourceOperator.totalLength" [pageSize]="10" [hidePageSize]="true"
                                showFirstLastButtons sticky="true" (click)="operatorPagenation(paginatorOperator)">
                            </mat-paginator>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>

        </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="mr-8" (click)="matDialogRef.close()" aria-label="Close" matTooltip="Close">
            {{ 'MONITOR.CLOSE' | translate }}
        </button>
        <button mat-button class="save-button accent" (click)="save()" [disabled]="newTripForm.invalid"
            aria-label="SAVE">
            {{ 'MONITOR.SAVE' | translate }}
        </button>
    </div>
</div>