@import "src/@fuse/scss/fuse";

.mat-form-field {
    display: block;
}

textarea {
    height: 100px;
    resize: vertical;
}
.confirm_buttons {
    width: 100% !important;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
}
