.route-header {
    .route-info {
        .route-info-group {
            width: 24%;
            height: 40px;
            border-radius: 4px;
            font-size: 1.4rem;
        }
    }
    .route-generate-btngroup {
        .btn-generate {
            width: 28%;
            height: 40px;
            border-radius: 4px;
            font-size: 1.4rem;
        }
        .btn-generate-route {
            width: 40%;
        }
    }
}
