<div id="device_detail" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" >
                    <mat-icon (click)="goBackUnit()">arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{device.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        {{ 'DEVICES.NEWDEVICE' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'DEVICES.DEVICEDETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-device-button"
                    *ngIf="pageType ==='new'" (click)="addDevice()">
                <span>{{ 'DEVICES.ADD' | translate }}</span>
            </button>

            <button mat-raised-button
                    class="save-device-button"
                    *ngIf="pageType ==='edit'" (click)="saveDevice()">
                <span>{{ 'DEVICES.SAVE' | translate }}</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form [formGroup]="deviceForm" class="device w-100-p" fxLayout="column" fxFlex >

                    <mat-tab-group>

                        <mat-tab label="{{ 'DEVICES.GENERAL' | translate }}">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DEVICES.NAME' | translate }}</mat-label>
                                        <input matInput placeholder="Name"
                                               name="name"
                                               formControlName="name"
                                               required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48" class="select_list">
                                        <mat-label>{{ 'DEVICES.SIMCARD' | translate }}</mat-label>
                                        <mat-select  (click)="showCompanyList('simcard_clist')" formControlName="simcard">
                                            <div class="filter_company_input" >
                                                <input matInput  formControlName="filterstring" #filter placeholder="Filter"   (keyup) = "onKey($event)">
                                                <mat-icon (click)="clearFilter()">clear</mat-icon>
                                            </div>

                                            <div  style="width: 100%; overflow: auto;" >
                                                <mat-table [dataSource]="dataSourceSimcard"  class="devices-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let simcard;"  style="border: 0px;">
                                                            <mat-option  [value]="simcard.id">{{simcard.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px;" mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                            <mat-paginator style=" height: 40px;"
                                                #paginatorSimcard
                                                class="table_paginator_detail"
                                                [length]="dataSourceSimcard.totalLength"
                                                [pageSize]="10"
                                                [hidePageSize]="true"
                                                showFirstLastButtons
                                                sticky="true"
                                            ></mat-paginator>
                                          
                                        </mat-select>
                                    </mat-form-field>
                                    
                                </div>

                                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DEVICES.DEVICETYPE' | translate }}</mat-label>
                                        <mat-select formControlName="devicetype"  (click)="showCompanyList('devicetype_clist')">
                                            <div class="filter_company_input" >
                                                <input matInput  formControlName="filterstring" #filter placeholder="Filter"   (keyup) = "onKey($event)">
                                                <mat-icon (click)="clearFilter()">clear</mat-icon>
                                            </div>
                                            
                                            <div  style="width: 100%; overflow: auto;">
                                                <mat-table [dataSource]="dataSourceDeviceType"  class="devices-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let devicetype"  style="border: 0px;">
                                                            <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="devicetype.id">{{devicetype.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                        
                                            <mat-paginator style=" height: 40px;"
                                                #paginatorDeviceType
                                                class="table_paginator"
                                                [length]="dataSourceDeviceType.totalLength"
                                                [pageSize]="10"
                                                [hidePageSize]="true"
                                                showFirstLastButtons
                                            ></mat-paginator>
                                          
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DEVICES.ACTIVATIONCODE' | translate }}</mat-label>
                                        <input matInput placeholder="ActivationCode"
                                               name="activationcode"
                                               formControlName="activationcode">
                                    </mat-form-field>
                                    
                                </div>

                                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DEVICES.IMEI' | translate }}</mat-label>
                                        <input matInput placeholder="IMEI"
                                               name="imei"
                                               formControlName="imei">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DEVICES.SERIALNUMBER' | translate }}</mat-label>
                                        <input matInput placeholder="Serial Number"
                                               name="serialnumber"
                                               formControlName="serialnumber">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>{{ 'DEVICES.CONNIN' | translate }}</mat-label>
                                        <mat-select formControlName="connin"  (click)="showCompanyList('connin_clist')">
                                            
                                            <div  style="width: 100%; overflow: auto;">
                                                <mat-table [dataSource]="dataSourceConnIn"  class="devices-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let connin"  style="border: 0px;">
                                                            <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="connin.id">{{connin.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                        
                                            <mat-paginator style=" height: 40px;"
                                                #paginatorConnIn
                                                class="table_paginator"
                                                [length]="dataSourceConnIn.totalLength"
                                                [pageSize]="10"
                                                [hidePageSize]="true"
                                                showFirstLastButtons
                                            ></mat-paginator>
                                          
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30" >
                                        <mat-label>{{ 'DEVICES.CONNOUT' | translate }}</mat-label>
                                        <mat-select formControlName="connout"  (click)="showCompanyList('connout_clist')">
                                            <div class="filter_company_input" >
                                                <input matInput  formControlName="filterstring" #filter placeholder="Filter"   (keyup) = "onKey($event)">
                                                <mat-icon (click)="clearFilter()">clear</mat-icon>
                                            </div>

                                            <div  style="width: 100%; overflow: auto;">
                                                <mat-table [dataSource]="dataSourceConnOut"  class="devices-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let connout"  style="border: 0px;">
                                                            <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="connout.id">{{connout.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                            
                                            <div  class="table_paginator">
                                                <mat-paginator style=" height: 40px;"
                                                    #paginatorConnOut
                                                    [length]="dataSourceConnOut.totalLength"
                                                    [pageSize]="10"
                                                    [hidePageSize]="true"
                                                    showFirstLastButtons
                                                ></mat-paginator>
                                            </div>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>{{ 'DEVICES.CONNSMS' | translate }}</mat-label>
                                        <mat-select formControlName="connsms"  (click)="showCompanyList('connsms_clist')">
                                            <div class="filter_company_input" >
                                                <input matInput  formControlName="filterstring" #filter placeholder="Filter"   (keyup) = "onKey($event)">
                                                <mat-icon (click)="clearFilter()">clear</mat-icon>
                                            </div>

                                            <div>
                                                <div  style="width: 100%; overflow: auto;">
                                                    <mat-table [dataSource]="dataSourceConnSMS"  class="devices-table font-size-10 mat-elevation-z8" >
                                                        <ng-container matColumnDef="name">
                                                            <td mat-cell *matCellDef="let connsms"  style="border: 0px;">
                                                                <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="connsms.id">{{connsms.name}}</mat-option>
                                                            </td>
                                                        </ng-container>
                                                        <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                    </mat-table>
                                                </div>
                                            
                                                <mat-paginator style=" height: 40px;"
                                                    #paginatorConnSMS
                                                    class="table_paginator"
                                                    [length]="dataSourceConnSMS.totalLength"
                                                    [pageSize]="10"
                                                    [hidePageSize]="true"
                                                    showFirstLastButtons
                                                ></mat-paginator>
                                            </div>
                                        </mat-select>
                                    </mat-form-field>
                                    
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'DEVICES.AUDIT' | translate }}">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DEVICES.CREATED' | translate }}</mat-label>
                                        <input matInput placeholder="Created"
                                               name="created"
                                                formControlName="created">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DEVICES.CREATEDBYNAME' | translate }}</mat-label>
                                        <input matInput placeholder="CreatedByName"
                                               name="createdbyname"
                                               formControlName="createdbyname">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DEVICES.DELETEDWHEN' | translate }}</mat-label>
                                        <input matInput placeholder="Deleted When"
                                               name="deletedwhen"
                                               formControlName="deletedwhen">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DEVICES.DELETEDBYNAME' | translate }}</mat-label>
                                        <input matInput placeholder="Deleted By Name"
                                               name="deletedbyname"
                                               formControlName="deletedbyname">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DEVICES.LASTMODIFIEDDATE' | translate }}</mat-label>
                                        <input matInput placeholder="Last Modified Date"
                                               name="lastmodifieddate"
                                               formControlName="lastmodifieddate">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DEVICES.LASTMODIFIEDBYNAME' | translate }}</mat-label>
                                        <input matInput placeholder="Last Modified By Name"
                                               name="lastmodifiedbyname"
                                               formControlName="lastmodifiedbyname">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>

