<div id="jobs" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center_table center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    drive_eta
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{ 'JOB.JOBS' | translate }}
                </span>
                <mat-icon class="logo-icon s-32 mx-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                    (click)="isListView = true">
                    list_alt
                </mat-icon>
                <mat-icon class="logo-icon s-32" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                    (click)="isListView = false">
                    apps
                </mat-icon>
            </div>
            <!-- / APP TITLE -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" style="min-width: 60%;">
                <form class="example-form" fxLayout="row" fxLayoutAlign="start center">
                    <!-- FILTER ITEM -->
                    <mat-label style="min-width: max-content;">{{'JOB.SELECTFIELD' | translate}}:</mat-label>
                    <mat-form-field class="ml-20 mr-20 filter_select" style="min-width: 170px;">
                        <mat-select [(value)]="selected">
                            <mat-option>None</mat-option>
                            <mat-option value="imei">{{'JOB.IMEI' | translate}}</mat-option>
                            <mat-option value="scheduledate">{{'JOB.SCHEDULEDATE' | translate}}</mat-option>
                            <mat-option value="address">{{'JOB.ADDRESS' | translate}}</mat-option>
                            <mat-option value="plate">{{'JOB.PLATE' | translate}}
                            </mat-option>
                            <mat-option value="customer">{{'JOB.CUSTOMER' | translate}}</mat-option>
                            <mat-option value="customerphonenumber">{{'JOB.CUSTOMERPHONENUMBER' | translate}}
                            </mat-option>
                            <mat-option value="status">{{'JOB.STATUS' | translate}}</mat-option>
                            <mat-option value="installer">{{'JOB.INSTALLER' | translate}}</mat-option>
                            <mat-option value="created">{{'JOB.CREATED' | translate}}</mat-option>
                            <mat-option value="createdby">{{'JOB.CREATEDBY' | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="{{ 'JOB.SEARCHFORJOB' | translate }}" [(ngModel)]="filter_string"
                            (keydown.enter)="filterJob()">
                    </div>
                </div>
            </div>
            <!-- / SEARCH -->
            <!-- ADD BUTTON -->
            <button mat-fab class="accent  mt-24 mt-md-0" (click)="addNewJob()">
                <mat-icon>add</mat-icon>
            </button>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card" style="width: 100%; overflow: auto;"
            [ngStyle]="{'display': isListView? 'block': 'none'}">
            <div class="spinner_overlay" *ngIf="dataSource.loading$ | async">
                <div class="spinner_container">
                    <mat-spinner color="accent" mode="indeterminate" diameter="50" style="margin:0 auto;">
                    </mat-spinner>
                </div>
            </div>

            <mat-table class="jobs-table font-size-10" #table [dataSource]="dataSource" matSort matSortActive="id"
                matSortDirection="asc" matSortDisableClear [@animateStagger]="{value:'50'}" fusePerfectScrollbar
                style="width: 120%;">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let job">
                        <button (click)="editShowJobDetail(job)" [disabled]="restrictValue == '1'"
                            style="background: none; border: none;">
                            <mat-icon class="active-icon s-16 edit_icon"
                                [ngClass]="{'disableEditBtn':restrictValue == '1'}" matRipple>edit</mat-icon>
                        </button>
                        <mat-icon class="active-icon s-16 delete_icon" (click)="deleteJob(job)">delete
                        </mat-icon>
                        <mat-icon class="active-icon s-16 board_icon" (click)="deleteJob(job)">apps
                        </mat-icon>
                        <div class="members" fxFlex="0 1 auto">
                            <button mat-icon-button class="" [matMenuTriggerFor]="membersMenu">
                                <mat-icon class="s-16 account_icon">account_circle</mat-icon>
                            </button>
                            <mat-menu #membersMenu="matMenu" [overlapTrigger]="false">
                                <div fxFlex fxLayout="column" class="scrumboard-members-menu"
                                    (click)="$event.stopPropagation()">

                                    <mat-selection-list (selectionChange)="handleSelection($event, job)">
                                        <mat-list-option *ngFor="let installer of installers" [value]="installer.id"
                                            [selected]="job.installerid == installer.id">
                                            {{installer.name}}
                                        </mat-list-option>
                                    </mat-selection-list>
                                </div>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- Imei Column -->
                <ng-container matColumnDef="imei">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'JOB.IMEI' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                        <p class="imei text-truncate">{{job.imei}}</p>
                    </mat-cell>
                </ng-container>

                <!-- ScheduleDate Column -->
                <ng-container matColumnDef="scheduledate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'JOB.SCHEDULEDATE' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                        <p class="scheduledate text-truncate">{{job.scheduledate}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'JOB.ADDRESS' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                        <p class="address text-truncate">{{job.address}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Plate Column -->
                <ng-container matColumnDef="plate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'JOB.PLATE' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                        <p class="plate text-truncate">{{job.plate}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Customer Column -->
                <ng-container matColumnDef="customer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'JOB.CUSTOMER' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                        <p class="customername text-truncate">{{job.customername}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Customer PhoneNumber Column -->
                <ng-container matColumnDef="customerphonenumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'JOB.CUSTOMERPHONENUMBER' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                        <p class="customerphonenumber text-truncate">{{job.customerphonenumber}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'JOB.STATUS' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                        <p class="status text-truncate">{{job.status}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Installer Column -->
                <ng-container matColumnDef="installer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'JOB.INSTALLER' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                        <p class="installer text-truncate">{{job.installer}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Created Column -->
                <ng-container matColumnDef="created">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'JOB.CREATED' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                        <p class="created text-truncate">{{job.created}}</p>
                    </mat-cell>
                </ng-container>
                <!-- CreatedBy Column -->
                <ng-container matColumnDef="createdby">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'JOB.CREATEDBY' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                        <p class="createdby text-truncate">{{job.createdbyname}}</p>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row *matRowDef="let job; columns: displayedColumns;" class="job font-size-10" matRipple>
                </mat-row>
            </mat-table>
        </div>
        <div [ngStyle]="{'display': isListView? 'block': 'none'}">
            <div class="page_index">
                <!-- <form> -->
                <label>Page&nbsp;:&nbsp;&nbsp;</label>
                <mat-form-field>
                    <input class="index_input" matInput (keydown.enter)="navigatePageJob()"
                        [(ngModel)]="dataSource.page_index">
                </mat-form-field>
                <label>&nbsp;&nbsp;of&nbsp;&nbsp;{{dataSource.total_page}}</label>
                <!-- </form> -->
            </div>
            <mat-paginator #paginator showFirstLastButtons class="table_paginator" [length]="dataSource.totalLength"
                [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="pageJob = $event">
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
        <!-- BOARDS -->
        <div id="boards" class="" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar
            [ngStyle]="{'display': isListView? 'none': 'block'}">
            <div class="header pt-32" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto"
                [@animate]="{value:'*',params:{delay:'100ms'}}">
                <h1>Installations</h1>
            </div>
            <!-- BOARD LIST -->
            <div class="board-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center"
                [@animateStagger]="{value:'50'}">
                <!-- BOARD -->
                <div class="board-list-item" *ngFor="let employee of installersBoard" fxLayout="column"
                    fxLayoutAlign="center center" [@animate]="{value:'*',params:{y:'100%'}}">
                    <mat-icon class="s-56">assessment</mat-icon>
                    <div class="board-name">{{employee.name}}</div>
                </div>
                <!-- / BOARD -->
                <!-- NEW BOARD BUTTON -->
                <div class="board-list-item add-new-board" fxLayout="column" fxLayoutAlign="center center"
                    [@animate]="{value:'*',params:{y:'100%'}}">
                    <mat-icon class="s-56">add_circle</mat-icon>
                    <div class="board-name">{{ 'BOARD.ADDNEWBOARD' | translate }}</div>
                </div>
                <!-- / NEW BOARD BUTTON -->
            </div>
            <!-- / BOARD LIST -->
        </div><!-- / BOARDS -->
    </div>
    <!-- / CENTER -->
</div>