.new-poi-panel {
  width: 383px;
  position: absolute;
  right: 64px;
  bottom: 24px;
  z-index: 1;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  h2 {
    padding: 18px;
    border-radius: 8px 8px 0 0;
  }
  form {
    padding: 18px;
  }
  .footer {
    float: right;
  }
}
