<div id="accounts" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center_table center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    drive_eta
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{ 'ACCOUNTS.ACCOUNTS' | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" style="min-width: 60%;">
                <form class="example-form" fxLayout="row" fxLayoutAlign="start center" >
                    <!-- FILTER ITEM -->
                    <mat-label style="min-width: max-content;">{{'ACCOUNTS.SELECTFIELD' | translate}}:</mat-label>

                    <mat-form-field class="ml-20 mr-20 filter_select" style="min-width: 170px;">
                        <mat-select [(value)]="selected">
                            <mat-option>None</mat-option>
                            <mat-option value="name">{{'ACCOUNTS.NAME' | translate}}</mat-option>
                            <mat-option value="address">{{'ACCOUNTS.ADDRESS' | translate}}</mat-option>
                            <mat-option value="phonenumber">{{'ACCOUNTS.PHONENUMBER' | translate}}</mat-option>
                            <mat-option value="contactname">{{'ACCOUNTS.CONTACTNAME' | translate}}</mat-option>
                            <mat-option value="email">{{'ACCOUNTS.EMAIL' | translate}}</mat-option>
                            <mat-option value="billingfrequency">{{'ACCOUNTS.BILLINGFREQUENCY' | translate}}</mat-option>
                            <mat-option value="billingstatus">{{'ACCOUNTS.BILLINGSTATUS' | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="{{ 'ACCOUNTS.SEARCHFORACCOUNT' | translate }}" [(ngModel)] = "filter_string" (keydown.enter) = "filterEvent()">
                    </div>
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-fab
                    [routerLink]="'/system/accounts/account_detail'"
                    class="accent  mt-24 mt-md-0">
               <mat-icon (click)="addNewAccount()">add</mat-icon>

            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" style="width: 100%; overflow: auto;" >
            <div class="spinner_overlay" *ngIf="dataSource.loading$ | async">
                <div class="spinner_container">
                    <mat-spinner
                        color="accent" 
                        mode="indeterminate"
                        diameter="50"
                        style="margin:0 auto;">
                    </mat-spinner>
                </div>
            </div>

            <mat-table class="accounts-table font-size-10"
                        #table [dataSource]="dataSource"
                        matSort matSortActive="id" matSortDirection="asc" matSortDisableClear
                        [@animateStagger]="{value:'50'}"
                        fusePerfectScrollbar style="width: 150%;">

                <!-- ID Column -->
                <ng-container matColumnDef="id" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let account">
                        <mat-icon class="active-icon s-16 edit_icon"  matRipple (click) = "editShowAccountDetail(account)">edit</mat-icon>
                        <mat-icon class="active-icon s-16 delete_icon" (click)="deleteAccount(account)">delete</mat-icon>
                        <mat-icon class="active-icon s-16 copy_icon" (click)="duplicateAccount(account)">file_copy</mat-icon>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ACCOUNTS.NAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account">
                        <p class="name text-truncate">{{account.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.ADDRESS' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="address text-truncate">
                            {{account.address}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- ContactName Column -->
                <ng-container matColumnDef="contactname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.CONTACTNAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="contactname text-truncate">
                            {{account.contactname}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- PhoneNumber Column -->
                 <ng-container matColumnDef="phonenumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.PHONENUMBER' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="phonenumber text-truncate">
                            {{account.phonenumber}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- Email Column -->
                 <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.EMAIL' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="email text-truncate">
                            {{account.email}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- BillingStatus Column -->
                 <ng-container matColumnDef="billingstatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.BILLINGSTATUS' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="billingstatus text-truncate">
                            {{account.billingstatus}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- BillingFrequency Column -->
                <ng-container matColumnDef="billingfrequency">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.BILLINGFREQUENCY' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="billingfrequency text-truncate">
                            {{account.billingfrequency}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- Created Column -->
                 <ng-container matColumnDef="created">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.CREATED' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="created text-truncate">
                            {{account.created}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- CreatedByName Column -->
                 <ng-container matColumnDef="createdbyname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.CREATEDBYNAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="created text-truncate">
                            {{account.createdbyname}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- DeletedWhen Column -->
                <ng-container matColumnDef="deletedwhen">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.DELETEDWHEN' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="deletedwhen text-truncate">
                            {{account.deletedwhen}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Deleted Column -->
                <ng-container matColumnDef="deletedbyname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.DELETEDBYNAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="deletedbyname text-truncate">
                            {{account.deletedbyname}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- LastModifiedDate Column -->
                <ng-container matColumnDef="lastmodifieddate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.LASTMODIFIEDDATE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="lastmodifieddate text-truncate">
                            {{account.lastmodifieddate}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- LastModifiedbyname Column -->
                <ng-container matColumnDef="lastmodifiedbyname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'ACCOUNTS.LASTMODIFIEDBYNAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let account" fxHide fxShow.gt-xs>
                        <p class="lastmodifiedbyname text-truncate">
                            {{account.lastmodifiedbyname}}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row  *matRowDef="let account; columns: displayedColumns;"
                            class="account font-size-10"
                            matRipple >
                </mat-row>

            </mat-table>

        </div>
        <div>
            <div class="page_index">
                <!-- <form> -->
                <label>Page&nbsp;:&nbsp;&nbsp;</label>
                <mat-form-field > 
                    <input class="index_input"  matInput (keydown.enter) = "navigatePageEvent()" [(ngModel)] = "dataSource.page_index">
                </mat-form-field>
                <label>&nbsp;&nbsp;of&nbsp;&nbsp;{{dataSource.total_page}}</label>
                <!-- </form> -->

            </div>
            <mat-paginator #paginator
                            showFirstLastButtons
                            class="table_paginator"
                            [length]="dataSource.totalLength"
                            [pageIndex] = "pageIndex"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page) ="pageEvent = $event">
            </mat-paginator>
        </div>
           
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
