<div class="numberofusers-clip w-100-p h-100-p">
    <div class="clip-icon">
        <img src="assets/icons/dashboard/user_clip_icon1.png" class="w-15-p">
    </div>
    <div class="detail-popup-menu">
        <button mat-icon-button aria-label="more" (click)="showDetail()">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="center center">
        <div class="font-size-72 line-height-72 amber-700-fg">
            {{usercount}}
        </div>
    </div>
</div>