<div class="numberofusers-clip w-100-p h-100-p">
    <div class="detail-popup-menu">
        <button mat-icon-button aria-label="more" (click)="showDetail()">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="center center">
        <div class="font-size-54 font-weight-600 line-height-1 accent-900-fg">
            {{vehcount}}/
        </div>
        <div class="font-size-48 font-weight-300 line-height-1">
            {{vehon}}
        </div>
    </div>
</div>