<div id="countdown" class="page-layout simple fullwidth docs">
    <mat-toolbar class="p-0 mat-elevation-z1" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar"
                    (click)="toggleFuseSidebarOpen('navbar')" fxHide.gt-md>
                    <mat-icon class="secondary-text">menu</mat-icon>
                </button>

                <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                    <div class="logo ml-16">
                        <img class="logo-icon" src="assets/images/logos/fuse.svg">
                    </div>
                </div>

                <div class="px-8 px-md-16">
                    <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
                </div>

            </div>

            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="0 1 auto">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple
                        fxLayoutAlign="start center">
                        <mat-button-toggle value="showVehicles" #showVehicles (change)="onShowValChange($event.value)"
                            matTooltip="Show/Hide Vehicles">
                            <mat-icon class="blue-600-fg">directions_car</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="showPOIs" (change)="onShowValChange($event.value)"
                            matTooltip="Show/Hide Points">
                            <mat-icon class="blue-600-fg">place</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="showZones" #showZones (change)="onShowValChange($event.value)"
                            matTooltip="Show/Hide Geofences">
                            <mat-icon class="blue-600-fg">center_focus_strong</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="showRoutes" #showRoutes (change)="onShowValChange($event.value)"
                            matTooltip="Show/Hide Routes">
                            <mat-icon class="blue-600-fg">gesture</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <div fxFlex fxLayout="row" fxLayoutAlign="space-between" class="ml-24">
                    <mat-select name="countryString" [(value)]="selectedCountry" placeholder="Country"
                        appearance="outline" fxFlex="48">
                        <mat-option [value]="'GB'">Great Britain</mat-option>
                        <mat-option [value]="'US'">United States</mat-option>
                        <mat-option [value]="'CA'">Canada</mat-option>
                    </mat-select>
                    <mat-select name="countryString" [(value)]="selectedCountry" placeholder="Country" fxFlex="48">
                        <mat-option [value]="'GB'">Great Britain</mat-option>
                        <mat-option [value]="'US'">United States</mat-option>
                        <mat-option [value]="'CA'">Canada</mat-option>
                    </mat-select>
                </div>

            </div>

            <div class="mr-12" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

                <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="avatar mr-0 mr-sm-16" src="assets/images/avatars/Velazquez.jpg">
                        <span class="username mr-12" fxHide fxShow.gt-sm>{{userObject.name}}</span>
                        <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                    </div>
                </button>

                <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                    <button mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>My Profile</span>
                    </button>

                    <button mat-menu-item class="">
                        <mat-icon>mail</mat-icon>
                        <span>Inbox</span>
                    </button>

                    <button mat-menu-item class="" (click)="logOut()" [routerLink]="'/login'">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                    </button>

                </mat-menu>

                <div class="toolbar-separator"></div>

                <button mat-button fxHide fxShow.gt-xs class="language-button" [matMenuTriggerFor]="languageMenu">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="flag mr-8" [src]="'assets/icons/flags/'+selectedLanguage.flag+'.png'">
                        <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                    </div>
                </button>

                <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

                    <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <img class="flag mr-16" [src]="'assets/icons/flags/'+lang.flag+'.png'">
                            <span class="iso">{{lang.title}}</span>
                        </span>
                    </button>

                </mat-menu>

                <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

                <button mat-icon-button class="quick-panel-toggle-button" (click)="toggleFuseSidebarOpen('quickPanel')"
                    aria-label="Toggle quick panel">
                    <mat-icon class="secondary-text">format_list_bulleted</mat-icon>
                </button>
            </div>
        </div>

    </mat-toolbar>

    <div class="content p-0">
        <!-- <app-osm-map
            (map$)="receiveMap($event)"
            (zoom$)="receiveZoom($event)"
            id='main-map'
        ></app-osm-map> -->
        <div class="map-container" leaflet id='main-map' [leafletOptions]="options"
            (leafletMapReady)="onMapReady($event)"></div>
    </div>

    <unitinfo-sidebar name="unitInfoPanel" class="unitInfoPanel-sidebar" position="right">
        <unitInfo-panel></unitInfo-panel>
    </unitinfo-sidebar>
</div>