<div id="dashboard_detail" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16">
                    <mat-icon (click)="goBackUnit()">arrow_back</mat-icon>
                </button>
                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{dashboard.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'DASHBOARDS.DASHBOARDDETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <button mat-raised-button class="save-dashboard-button" (click)="saveDashboard()">
                <span>{{ 'DASHBOARDS.SAVE' | translate }}</span>
            </button>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form [formGroup]="dashboardForm" class="dashboard w-100-p">
                    <mat-tab-group>
                        <mat-tab label="{{ 'DASHBOARDS.GENERAL' | translate }}">
                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                                <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DASHBOARDS.NAME' | translate }}</mat-label>
                                        <input matInput placeholder="Name" name="name" formControlName="name" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'DASHBOARDS.CREATED' | translate }}</mat-label>
                                        <input matInput placeholder="Created" name="created"
                                            formControlName="createdbyname">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" class="ml-24">
                                    <mat-checkbox class="example-margin mr-32" [(ngModel)]="isTimeSelected"
                                        [disabled]="true" [ngModelOptions]="{standalone: true}">
                                        {{ 'DASHBOARDS.TIMESELECTION' | translate }}
                                    </mat-checkbox>

                                    <mat-checkbox class="example-margin" [(ngModel)]="isGroupSelected" [disabled]="true"
                                        [ngModelOptions]="{standalone: true}">
                                        {{ 'DASHBOARDS.GROUPSELECTION' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="space-between" class="mt-24">
                                    <fieldset fxFlex="48"
                                        style="border-radius: 4px; border: 1px solid #2423233a; height: 360px; overflow-y: auto;">
                                        <legend>Clips List</legend>
                                        <div *ngFor="let item of dashboardclips_Clist" class="clip_list">
                                            <div fxLayout="row" fxLayoutAlign="start center" class="m-12">
                                                <img [src]="clip_img_url + item.clip + '.png'"
                                                    class="w-40 mat-elevation-z4 chart-icon line-chart">
                                                <div class="h4 ml-12">{{item.clip}}</div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset fxFlex="48"
                                        style="border-radius: 4px; border: 1px solid #2423233a; height: 360px; overflow-y: auto;">
                                        <legend>User List</legend>
                                        <div *ngFor="let item of dashboardusers_Clist" class="clip_list"
                                            style="border-bottom: 1px solid #afaeae8f;">
                                            <div fxLayout="row" fxLayoutAlign="start center" class="m-12">
                                                <div class="h4" fxFlex="48">
                                                    <fa-icon [icon]="faUser"></fa-icon> {{item.name}}
                                                </div>
                                                <div class="h4" fxFlex="48">
                                                    <fa-icon [icon]="faBuilding"></fa-icon> {{item.company}}
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>