@import "src/@fuse/scss/fuse";
// @import '~saturn-datepicker/theming';
// @include sat-datepicker-theme($theme);

fuelmanagement-tank-detail {
    #tank_detail {
        .top-bg {
            height: 136px !important;

            @include media-breakpoint('lt-md') {
                height: 136px !important;
            }
        }

        .center {
            background-color: white !important;
            padding: 0 !important;

            .content {
                .detail_info {
                    height: auto;
                    min-height: 160px !important;
                    max-height: 160px !important;

                    .fuel_tank_img {
                        // height: 160px !important;
                        // min-height: 160px !important;
                        // max-height: 160px !important;
                        padding: 0px;
                        background-color: white !important;
                        position: relative;
                        
                        .background_fuel_orange {
                            height: 124px !important;
                            min-height: 124px !important;
                            max-height: 124px !important;
                            transform: rotate(-0.5deg);
                            .background_white {
                                background-color: white;
                            }
                            .background_orange {
                                background-color: rgb(241, 196, 21);
                            }
                        }
                        .tank_img {
                            position: absolute;
                            top: -12px;
                            z-index: 1000;
                        }
                        .percentage_tank {
                            position: absolute;
                            top: 30%;
                            left: 45%;
                            transform: transition(-50%, -50%);
                        }
                    }

                    .fuel_report_detail .report_graph_icon_content {

                        .report_graph_icon {
                            color: rgb(3, 155, 229);
                        }

                        .tank_img {
                            margin: 0 2px;
                            width: 16% !important;
                        }
                    };

                    .last_report {
                        margin: 4px;
                    }
                   
                }

                .history_chart {

                    .mat-form-field-underline {
                        /*change color of underline*/
                        background-color: #42a5f5 !important;
                    } 
                   
                //     // ::-webkit-scrollbar-track {
                //     //     background: rgb(3, 155, 229);
                //     // }

                //     // ::-webkit-scrollbar-thumb {
                //     //     background-color: rgb(100, 200, 250);
                //     //     // border-radius: 6px;
                //     //     border: none;
                //     // }
                }
            }
        }
    }
}
