.mpg-clip {
    .detail-popup-menu {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .clip-icon {
        position: absolute;
        top: 12px;
        left: 12px;
    }
}
// .mat-menu-panel {
//     // min-width: 600px !important;
//     min-width: 600px !important;
//     max-height: calc(100vh - 250px) !important;
// }
.mat-menu-content {
    padding-top: 0px !important;
}
