@import "src/@fuse/scss/fuse";

   .table_paginator_detail {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background-color: rgb(255, 255, 255) !important;
        height: 40px !important;
        color: rgb(16, 20, 24) !important;
        // box-shadow: 0px 0px 0px 1px rgb(42, 55, 59) !important;
    }
    
    .mat-form-field-label {
            color: rgb(134, 132, 132) !important
    }
    .filter_company_input {
        border: 1px solid #b3b1b1 !important;
        border-radius: 5px !important;
        margin: 20px !important;
        width: 90% !important;
        height: 40px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
   
    .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
        background: white !important;
    }
    mat-row:hover {
        background-color: rgba(3, 154, 229, 0.24) !important;
    }
   
     .mat-input-element:disabled {
        color: black !important
    }
   
    .card {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        padding: 0;
        border-radius: 8px;

        @include media-breakpoint(gt-sm) {
            @include mat-elevation(1);
        }

        > .header {
            flex: 0 1 auto;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }

        > .content {
            flex: 0 1 auto;
        }
    }

    .mat-paginator-range-label {
        @include media-breakpoint('lt-md') {
            display: none !important;
        }
    }

    .nav .nav-item .navlink {
        color: #b2f5ef !important
    }

    .POIGroup_table {
        height: 30vh !important;
    }

    @media screen and (min-height: 890px){
        .POIGroup_table {
            height: 45vh !important;
        }
    }


    // }

    
