<div id="poigroup_detail" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" >
                    <mat-icon (click)="goBackUnit()">arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{poigroup.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        {{ 'POIGROUPS.NEWPOIGROUP' | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ 'POIGROUPS.POIGROUPDETAIL' | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-poigroup-button"
                    *ngIf="pageType ==='new'" (click)="addPoigroup()">
                <span>{{ 'POIGROUPS.ADD' | translate }}</span>
            </button>

            <button mat-raised-button
                    class="save-poigroup-button"
                    *ngIf="pageType ==='edit'" (click)="savePoigroup()">
                <span>{{ 'POIGROUPS.SAVE' | translate }}</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form [formGroup]="poigroupForm" class="poigroup w-100-p" fxLayout="column" fxFlex >

                    <mat-tab-group>

                        <mat-tab label="{{ 'POIGROUPS.GENERAL' | translate }}">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'POIGROUPS.NAME' | translate }}</mat-label>
                                    <input matInput placeholder="Name"
                                           name="name"
                                           formControlName="name"
                                           required>
                                </mat-form-field>

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48" class="select_list">
                                        <mat-label>{{ 'POIGROUPS.COMPANY' | translate }}</mat-label>
                                        <mat-select  (click)="showCompanyList('company_clist')" formControlName="company">
                                            <div class="filter_company_input" >
                                                <input matInput  formControlName="filterstring" #filter placeholder="Filter"   (keyup) = "onKey($event)">
                                                <mat-icon (click)="clearFilter()">clear</mat-icon>
                                            </div>

                                            <div  style="width: 100%; overflow: auto;" >
                                                <mat-table [dataSource]="dataSourceCompany"  class="poigroups-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let company;"  style="border: 0px;">
                                                            <mat-option  [value]="company.id">{{company.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px;" mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                            <mat-paginator style=" height: 40px;"
                                                #paginatorCompany
                                                class="table_paginator_detail"
                                                [length]="dataSourceCompany.totalLength"
                                                [pageSize]="10"
                                                [hidePageSize]="true"
                                                showFirstLastButtons
                                                sticky="true"
                                            ></mat-paginator>
                                          
                                        </mat-select>
                                    </mat-form-field>

                                    <!-- <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                        <mat-label>{{ 'POIGROUPS.GROUP' | translate }}</mat-label>
                                        <mat-select formControlName="group"  (click)="showCompanyList('group_clist')">
                                            <div class="filter_company_input" >
                                                <input matInput  formControlName="filterstring" #filter placeholder="Filter"   (keyup) = "onKey($event)">
                                                <mat-icon (click)="clearFilter()">clear</mat-icon>
                                            </div>

                                            <div  style="width: 100%; overflow: auto;">
                                                <mat-table [dataSource]="dataSourceGroup"  class="poigroups-table font-size-10 mat-elevation-z8" >
                                                    <ng-container matColumnDef="name">
                                                        <td mat-cell *matCellDef="let group"  style="border: 0px;">
                                                            <mat-option  style="width: 100%; height: auto; padding: 0px;" [value]="group.id">{{group.name}}</mat-option>
                                                        </td>
                                                    </ng-container>
                                                    <tr  class="company_list" style="height: 15px; " mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                                </mat-table>
                                            </div>
                                        
                                            <mat-paginator style=" height: 40px;"
                                                #paginatorGroup
                                                class="table_paginator"
                                                [length]="dataSourceGroup.totalLength"
                                                [pageSize]="10"
                                                [hidePageSize]="true"
                                                showFirstLastButtons
                                            ></mat-paginator>
                                        </mat-select>
                                    </mat-form-field> -->
                                </div>

                                <fieldset style="border-radius: 4px; border: 1px solid #2423233a;">
                                    <legend>&nbsp;{{ 'POIGROUPS.AUDIT' | translate }}&nbsp;</legend>
                                    <div fxLayout="row" fxLayoutAlign="space-between" class="mt-20">
                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                            <mat-label>{{ 'POIGROUPS.CREATED' | translate }}</mat-label>
                                            <input matInput placeholder="Created"
                                                   name="created"
                                                    formControlName="created">
                                        </mat-form-field>
    
                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                            <mat-label>{{ 'POIGROUPS.CREATEDBYNAME' | translate }}</mat-label>
                                            <input matInput placeholder="CreatedByName"
                                                   name="createdbyname"
                                                   formControlName="createdbyname">
                                        </mat-form-field>
                                    </div>
    
                                    <div fxLayout="row" fxLayoutAlign="space-between">
                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                            <mat-label>{{ 'POIGROUPS.DELETEDWHEN' | translate }}</mat-label>
                                            <input matInput placeholder="Deleted When"
                                                   name="deletedwhen"
                                                   formControlName="deletedwhen">
                                        </mat-form-field>
    
                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                            <mat-label>{{ 'POIGROUPS.DELETEDBYNAME' | translate }}</mat-label>
                                            <input matInput placeholder="Deleted By Name"
                                                   name="deletedbyname"
                                                   formControlName="deletedbyname">
                                        </mat-form-field>
                                    </div>
    
                                    <div fxLayout="row" fxLayoutAlign="space-between">
                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                            <mat-label>{{ 'POIGROUPS.LASTMODIFIEDDATE' | translate }}</mat-label>
                                            <input matInput placeholder="Last Modified Date"
                                                   name="lastmodifieddate"
                                                   formControlName="lastmodifieddate">
                                        </mat-form-field>
    
                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="48">
                                            <mat-label>{{ 'POIGROUPS.LASTMODIFIEDBYNAME' | translate }}</mat-label>
                                            <input matInput placeholder="Last Modified By Name"
                                                   name="lastmodifiedbyname"
                                                   formControlName="lastmodifiedbyname">
                                        </mat-form-field>
                                    </div>
                                </fieldset>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>

