@import "src/@fuse/scss/fuse";

report-reportcomponent {

    #report {
        .content {

            form {
                width: 100%;
                max-width: 800px !important;
            }
    
            .form-errors-model {
                flex: 1;
    
                code {
                    background: none !important;
                }
            }
    
            
            .vertical-stepper-wrapper {
                max-width: 800px;
            }
            .horizontal-stepper-wrapper {
                width: 100% !important;
            }
        }

        .table_paginator_detail {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            // background-color: rgb(255, 255, 255) !important;
            height: 40px !important;
            color: rgb(16, 20, 24) !important;
            // box-shadow: 0px 0px 0px 1px rgb(42, 55, 59) !important;
        }
        
        .mat-form-field-label {
                color: rgb(134, 132, 132) !important
        }
        .filter_company_input {
            border: 1px solid #b3b1b1 !important;
            border-radius: 5px !important;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
            width: 90% !important;
            height: 40px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
       
        .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
            background: white !important;
        }
        mat-row:hover {
            background-color: rgba(3, 154, 229, 0.24) !important;
        }
       
         .mat-input-element:disabled {
            color: black !important
        }

        .spinner_container {
            position: absolute;
            top: 50%;
            left: 40%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
    
        .spinner_overlay {
            height:100vh;
            width:100%;
            z-index:    10;
            top:        0; 
            left:       0; 
            position:   fixed;
        }

        .mat-step-header {
            pointer-events: none !important;
        }

        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }

        // .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, 
        // .mat-step-header .mat-step-icon-state-edit {
        //     // background-color: rgb(40, 44, 54) !important;
        //     background-color: paleturquoise !important;
        //     color: whitesmoke !important;
        // }
    }
}
