<mat-sidenav-container>
    <div id="board">
        <!-- HEADER -->
        <div class="header p-16 p-md-24" [ngClass]="board.settings.color" fxLayout="column">
            <div class="header-content" fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="1 0 auto">
                <!-- BOARD SELECTION BUTTON -->
                <div fxLayout="row" fxLayoutAlign="center center" fxFlexOrder="2" fxFlexOrder.gt-xs="1">
                    <button mat-raised-button class="header-boards-button" [ngClass]="board.settings.color+'-800'"
                        routerLink="system/jobs/jobs" aria-label="boards button">
                        <mat-icon class="mr-8">assessment</mat-icon>
                        <span>{{ 'BOARD.BOARDS' | translate }}</span>
                    </button>
                </div>
                <!-- / BOARD SELECTION BUTTON -->
                <!-- BOARD NAME -->
                <div class="header-board-name mb-8 mb-md-0" fxLayout="row" fxLayoutAlign="center center"
                    fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center center" fxFlex="1 0 100%" fxFlex.gt-xs="1 0 auto"
                    fxFlexOrder="1" fxFlexOrder.gt-xs="2">
                    <mat-icon *ngIf="board.settings.subscribed" class="board-subscribe s-16">remove_red_eye</mat-icon>
                    <installation-edit-board-name [board]="board" (boardNameChanged)="onBoardNameChanged($event)">
                    </installation-edit-board-name>
                </div>
                <!-- / BOARD NAME -->
            </div>
        </div>
        <!-- / HEADER -->
        <div fxFlex class="board-content-wrapper p-16 p-md-24">
            <!-- BOARD -->
            <div class="board-content ngx-dnd-container p-16 p-md-24" fxLayout="row" ngxDroppable="list"
                [model]="board.lists" (out)="onDrop($event)" [@animateStagger]="{value:'50'}">
                <!-- LIST -->
                <installation-board-list class="installation-board-list list-wrapper ngx-dnd-item" ngxDraggable
                    *ngFor="let list of board.lists" [model]="list" [list]="list"
                    [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">
                </installation-board-list>
                <!-- / LIST -->
                <!-- NEW LIST BUTTON-->
                <installation-board-add-list class="new-list-wrapper" (listAdded)="onListAdd($event)" ngxDraggable
                    [moves]="false" [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">
                </installation-board-add-list>
                <!-- / NEW LIST BUTTON-->
            </div>
            <!-- / BOARD -->
        </div>
        <!-- primary content -->
    </div>
</mat-sidenav-container>