<div id="poigroups" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center_table center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    drive_eta
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{ 'POIGROUPS.POIGROUPS' | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" style="min-width: 60%;">
                <form class="example-form" fxLayout="row" fxLayoutAlign="start center" >
                    <!-- FILTER ITEM -->
                    <mat-label style="min-width: max-content;">{{'POIGROUPS.SELECTFIELD' | translate}}:</mat-label>

                    <mat-form-field class="ml-20 mr-20 filter_select" style="min-width: 170px;">
                        <mat-select [(value)]="selected">
                            <mat-option>None</mat-option>
                            <mat-option value="name">{{'POIGROUPS.NAME' | translate}}</mat-option> 
                            <mat-option value="account">{{'POIGROUPS.RADIUS' | translate}}</mat-option>
                            <mat-option value="operator">{{'POIGROUPS.POINT' | translate}}</mat-option>
                            <mat-option value="company">{{'POIGROUPS.COMPANY' | translate}}</mat-option>
                            <mat-option value="group">{{'POIGROUPS.GROUP' | translate}}</mat-option>
                            <mat-option value="subgroup">{{'POIGROUPS.SUBGROUP' | translate}}</mat-option>
                            <mat-option value="unittype">{{'POIGROUPS.POINTTYPE' | translate}}</mat-option>
                            <mat-option value="serviceplan">{{'POIGROUPS.ADDRESS' | translate}}</mat-option>
                            <mat-option value="producttype">{{'POIGROUPS.LONGITUDE' | translate}}</mat-option>
                            <mat-option value="make">{{'POIGROUPS.LATITUDE' | translate}}</mat-option>
                            <mat-option value="created">{{'POIGROUPS.CREATED' | translate}}</mat-option>
                            <mat-option value="created">{{'POIGROUPS.CREATEDBYNAME' | translate}}</mat-option>
                            <mat-option value="deletedwhen">{{'POIGROUPS.DELETEDWHEN' | translate}}</mat-option>
                            <mat-option value="deletedwhen">{{'POIGROUPS.DELETEDBYNAME' | translate}}</mat-option>
                            <mat-option value="lastmodifieddate">{{'POIGROUPS.LASTMODIFIEDDATE' | translate}}</mat-option>
                            <mat-option value="lastmodifieddate">{{'POIGROUPS.LASTMODIFIEDBYNAME' | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="{{ 'POIGROUPS.SEARCHFORPOIGROUP' | translate }}" [(ngModel)] = "filter_string" (keydown.enter) = "filterEvent()">
                    </div>
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-fab
                    [routerLink]="'/admin/poigroups/poigroup_detail'"
                    class="accent  mt-24 mt-md-0">
               <mat-icon (click)="addNewPoigroup()">add</mat-icon>

            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" style="width: 100%; overflow: auto;" >
            <div class="spinner_overlay" *ngIf="dataSource.loading$ | async">
                <div class="spinner_container">
                    <mat-spinner
                        color="accent" 
                        mode="indeterminate"
                        diameter="50"
                        style="margin:0 auto;">
                    </mat-spinner>
                </div>
            </div>

            <mat-table class="poigroups-table font-size-10"
                        #table [dataSource]="dataSource"
                        matSort matSortActive="id" matSortDirection="asc" matSortDisableClear
                        [@animateStagger]="{value:'50'}"
                        fusePerfectScrollbar style="width: 150%;">

                <!-- ID Column -->
                <ng-container matColumnDef="id" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let poigroup">
                        <mat-icon class="active-icon s-16 edit_icon"  matRipple (click) = "editShowPoigroupDetail(poigroup)">edit</mat-icon>
                        <mat-icon class="active-icon s-16 delete_icon" (click)="deletePoigroup(poigroup)">delete</mat-icon>
                        <mat-icon class="active-icon s-16 copy_icon" (click)="duplicatePoigroup(poigroup)">file_copy</mat-icon>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'POIGROUPS.NAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let poigroup">
                        <p class="name text-truncate">{{poigroup.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Company Column -->
                <ng-container matColumnDef="company">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'POIGROUPS.COMPANY' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let poigroup">
                        <p class="company text-truncate">{{poigroup.company}}</p>
                    </mat-cell>
                </ng-container>
                
                <!-- Created Column -->
                <ng-container matColumnDef="created">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'POIGROUPS.CREATED' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let poigroup" fxHide fxShow.gt-xs>
                        <p class="created text-truncate">
                            {{poigroup.created}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- CreatedByName Column -->
                 <ng-container matColumnDef="createdbyname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'POIGROUPS.CREATEDBYNAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let poigroup" fxHide fxShow.gt-xs>
                        <p class="created text-truncate">
                            {{poigroup.createdbyname}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- DeletedWhen Column -->
                <ng-container matColumnDef="deletedwhen">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'POIGROUPS.DELETEDWHEN' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let poigroup" fxHide fxShow.gt-xs>
                        <p class="deletedwhen text-truncate">
                            {{poigroup.deletedwhen}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Deleted Column -->
                <ng-container matColumnDef="deletedbyname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'POIGROUPS.DELETEDBYNAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let poigroup" fxHide fxShow.gt-xs>
                        <p class="deletedbyname text-truncate">
                            {{poigroup.deletedbyname}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- LastModifiedDate Column -->
                <ng-container matColumnDef="lastmodifieddate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'POIGROUPS.LASTMODIFIEDDATE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let poigroup" fxHide fxShow.gt-xs>
                        <p class="lastmodifieddate text-truncate">
                            {{poigroup.lastmodifieddate}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- LastModifiedbyname Column -->
                <ng-container matColumnDef="lastmodifiedbyname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'POIGROUPS.LASTMODIFIEDBYNAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let poigroup" fxHide fxShow.gt-xs>
                        <p class="lastmodifiedbyname text-truncate">
                            {{poigroup.lastmodifiedbyname}}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row  *matRowDef="let poigroup; columns: displayedColumns;"
                            class="poigroup font-size-10"
                            matRipple >
                </mat-row>

            </mat-table>

        </div>
        <div>
            <div class="page_index">
                <!-- <form> -->
                <label>Page&nbsp;:&nbsp;&nbsp;</label>
                <mat-form-field > 
                    <input class="index_input"  matInput (keydown.enter) = "navigatePageEvent()" [(ngModel)] = "dataSource.page_index">
                </mat-form-field>
                <label>&nbsp;&nbsp;of&nbsp;&nbsp;{{dataSource.total_page}}</label>
                <!-- </form> -->

            </div>
            <mat-paginator #paginator
                            showFirstLastButtons
                            class="table_paginator"
                            [length]="dataSource.totalLength"
                            [pageIndex] = "pageIndex"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page) ="pageEvent = $event">
            </mat-paginator>
        </div>
           
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
