<div id="dialog_table">
    <div class="unit-table-section w-100-p" *ngIf="flag == 'mpg'">
        <mat-table class="unit-table font-size-10" #table [dataSource]="dataSource" matSort matSortActive="name"
            matSortDirection="asc" matSortDisableClear [@animateStagger]="{value:'50'}" fusePerfectScrollbar
            style="width: 100%;">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ANAYLYTICS.NAME' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let vehicle">
                    <p class="name text-truncate">{{vehicle.name}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="mpg">
                <mat-header-cell *matHeaderCellDef mat-sort-header>MPG
                </mat-header-cell>
                <mat-cell *matCellDef="let vehicle">
                    <p class="name text-truncate">{{vehicle.mpg}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="mpgunits">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ANAYLYTICS.MPGUNIT' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let vehicle">
                    <p class="name text-truncate">{{vehicle.mpgunits}}</p>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
            <mat-row *matRowDef="let vehicle; columns: displayedColumns;" class="vehicle font-size-10" matRipple>
            </mat-row>
        </mat-table>
        <mat-paginator class="table-paginator" [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="flag == 'cancel'" class="confirm-message-section p-24">
        <h2 mat-dialog-title>{{ 'ANAYLYTICS.AREYOUSURECANCELEDITION' | translate }}</h2>
        <div class="confirm_buttons">
            <button class="mat-raised-button accent-500" (click)="goback()" fxFlex="30">
                {{ 'ANAYLYTICS.YES' | translate }}
            </button>
            <button class="mat-raised-button" (click)="close()" fxFlex="30">
                {{ 'ANAYLYTICS.NO' | translate }}
            </button>
        </div>
    </div>
</div>